<div class="dark-background">
  <div class="submission-form__container">
    <div style="width: 60%; margin: auto auto 8px auto">
      <%= link_to :back, class: "submission-form__back-button" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="pack-submission-form__box">
      <div class="text-center">
        <h4>Create your Sound Designer Profile!</h4>
      </div>
      <hr>
      <%= render "sound_designer_form" %>
    </div>
    <div style="height: 40px"></div>
  </div>
</div>