<%= render 'shared/navbar_temp' %>
<div class="content">
  <div class="banner">
    <h1 class="padding-navbar">Create your own Collection !</h1>
    <button class="learn-more" id="learnMoreBtn">Learn more</button>
  </div>
  <div class="d-flex">
    <%= render "shared/left_pannel"%>
    <div class="template-section text-center">
      <% if !@templates.empty? %>    
        <% @templates.each do |template| %>
          <div class="template-card d-flex justify-content-between">
            <div class="d-flex justify-content-between">
              <div>
                <%# <i class="fas fa-volume-up template-picks"></i> %>
                <i class="fas fa-swords"></i>
              </div>
              <div>
                <p><%= template.title %></p>
              </div>
            </div>
            <div>
            </div>
        </div>
        <% end %>
      <% else %>
        <h3>No collections at this time</h3>
      <% end %>
    </div>
  </div>
</div>