<%= render 'shared/navbar_temp' %>
<div class="content">
  <div class="banner">
    <h1 class="padding-navbar">Create your own Collection !</h1>
    <button class="learn-more" id="learnMoreBtn">Learn more</button>
  </div>
  <div class="d-flex">
    <%= render "shared/left_pannel"%>
    <div class="template-section text-center" data-controller="unwrap-cart">
      <% if !@templates.empty? %>  
        <% @templates.each do |template| %>
          <%= render 'shared/templates/collections_display', collection: template %>
        <% end %>
      <% else %>
        <h3>No templates at this time</h3>
      <% end %>
    </div>
  </div>
</div>