<br>
<div class="container text-center">
  <h2>The list view is still under construction on Mobile.</h2>
  <h2>But you can check it out on a computer.</h2>
  
  <h1 style="color: orange">Coning Soon on Mobile!!!</h1>
  <%= link_to "Back", root_path, id: 'btn-show' %>
</div>