.title-about-mobile {
  display: none;
}

.title-about {
  display: flex;
  justify-content: center;
  margin: 20px 0px 45px 0px;
}

#welcome-about {
  padding: 10px 5px 0px 0px;
  font-weight: 700;
}

#logo-about {
  height: 60px;
  margin-top: 4px;
}

#text-logo-about  {
  padding: 10px 0px 0px 5px;
  color: $orange-main;
  font-family: 'Permanent Marker', cursive;
}

#text-logo-small-about {
  display: none;
}

.about-content {
  text-align: justify;
  font-size: 18px;
  color: $font-grey;
}

#studio-img {
  max-width: 75%;
  margin-bottom: 40px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

$breakpoint-tablet: 768px;
$breakpoint-small: 490px;

@media (max-width: $breakpoint-tablet) {
  #text-logo-small-about {
    display: revert;
    padding: 10px 0px 0px 5px;
    color: $orange-main;
    font-family: 'Permanent Marker', cursive;
  }

  #text-logo-about {
      display: none;
  }

  #studio-img {
    max-width: 95%;
  }
}

@media (max-width: $breakpoint-small) {
  .title-about {
    display: none;
  }

  #welcome-about {
    text-align: center;
    margin-bottom: -15px;
  }

  .title-about-mobile {
    display: revert;
  }
}
