.container-fluid {
   max-width:1600px;
}

.pack-container {
  margin: 0 40px
}

#front-title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 40px 0px;
}

#front-title-sale {
  color: white;
  // background-color: $banner_light_blue;
  background-color: $new-green;
  padding: 15px 0px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 40px 0px;
}

#annoucement-content {
  color: white;
  background-color: $new-green;
  padding: 15px 0px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 40px 0px;
}