.container-fluid {
   max-width:1600px;
}

#front-title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 40px 0px;
}

#front-title-sale {
  background-color: $banner_light_blue;
  padding: 15px 0px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 40px 0px;
}

#annoucement-content {
  background-color: $new-pink;
  padding: 15px 0px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 40px 0px;
}