body {
  font-family: $body-font;
  margin-bottom: 84px;
}

h1, h2, h3, h4, h5, h6, p {
    color: $font-grey;
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  body {
    margin-bottom: 138px;
  }
}
