@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400, 500, 700|Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
// font-family: 'Permanent Marker', cursive;

// $body-font: "Roboto", "Helvetica", "sans-serif";
$body-font: 'Roboto', sans-serif;
$orange-main: #ffa500;
$orange-light: #ffe3d3;
$blue-light: #7db6d6;
$light-blue: #7db6d6;
$banner_light_blue: #ccedff;
$font-grey: #4e4e4e;
$light-grey: #999999;
$whitesmoke: #eeeded;
$darker-blue: #739ddd;
$border-grey: #ccc;
$dark-green: green;
$light-green: #a0ff49;
$indian-red: #ff5c55;
$new-green: #349b55;
$new-pink: #f39cc7;
