<div class="dark-background">
  <div class="submission-form__container">
    <div class="submission-form__back-button-position">
    </div>
    <div class="pack-submission-form__box">
      <div class="text-center">
        <h4>Fill out your account information</h4>
      </div>
      <hr>
      <%= render "legal_entity_form" %>
    </div>
    <div style="height: 40px"></div>
  </div>
</div>