.max-width-cart {
  width: 8vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-width-cart-icon {
  width: 2vw;
}

.border-cart {
  height: 62px;
  border: solid 1px $border-grey;
  // border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -1px;
  &:hover {
    background-color: #f5f3f3b6;
  }
}

.icon-adjust-cart {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin: 7px 20px 0 20px;
  text-align: center;
  padding: 2px 0;
}

#cart-total-margin-bottom {
  margin-bottom: 5px;
}

#warning-collection {
  margin: 2px 4px 0 0;
  font-size: 20px;
}

#btn-cart-collection {
  background-color: $light-blue;
  color: white;
  border: solid 2px $darker-blue;
  border-radius: 4px;
  padding: 0 2px;
  &:hover {
    background-color: $light-grey;
    border: solid 2px $light-grey;
  }
}

.container-cart-single {
  margin: 0 44px;
}