.max-width-cart {
  width: 8vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.template-max-width-icon {
  width: 2vw;
}

.wrapper-cart {
  display: grid;
  grid-template-columns: 1.2fr 3fr 0.2fr 0.2fr;
}

.border-cart {
  height: 38px;
  border: solid 1px $border-grey;
  margin-bottom: -1px;
  &:hover {
    background-color: #f5f3f3b6;
  }
  .wrapper-cart {
    padding-top: 4px;
  }
}

.icon-adjust-cart {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin: 2px 20px 0 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 0.7rem;
}

.pad-top-cart {
  padding-top: 4px;
}

.collection-wave, .track-wave {
  margin-top: 3px;
}

.info-icon-cart {
  margin-top: 6px;
  font-size: 12px;
}

.points-cart {
  height: 22px;
  width: 22px;
  text-align: center;
  margin-top: 2px;
  border: solid #FFA500 2px;
  border-radius: 50%;
}

#cart-total-margin-bottom {
  margin-bottom: 5px;
}

#warning-collection {
  margin: 2px 4px 0 0;
  font-size: 20px;
}

#btn-cart-collection {
  background-color: $light-blue;
  color: white;
  border: solid 2px $darker-blue;
  border-radius: 4px;
  padding: 0 4px;
  &:hover {
    background-color: $light-grey;
    border: solid 2px $light-grey;
  }
}

.container-cart-single {
  margin: 0 15px;
}

.margins-vertical {
  margin: 20px 44px 4px 44px;
}