// LEAR MORE MODAL

/* The Modal (background) */
.learn-more-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* Modal Content */
  .learn-more-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
        /* The Close Button */
    .learn-more-close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      &:hover, &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

#knight-gif {
  height: 55px;
}

#comming-soon {
  margin: 12px 0 0 15px;
}

.orange-words {
  color: $orange-main;
}

// TRACK INFO MODAL
/* The Modal (background) */
.track-info-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* Modal Content */
  .track-info-modal-content {
    background-color: #fefefe;
    margin: 20% 0 0 20%;
    padding: 15px 10px 0 10px;
    border: 1px solid #888;
    border-radius: 4px;
    width: fit-content;
    font-size: 0.7em;
    line-height: 0.7em;
  }
}

.modal-orange-text {
  color: #FFA500;
}