.forms {
  display: flex;
  justify-content: space-between;
}

.drop-down{
  margin: 20px 0;
  select {
    background-color: white;
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px $border-grey;
    height: 40px;
    width: 25vw;
  }

  select::placeholder {
    color: #b8b8b8;
  }
  input {
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px $border-grey;
    height: 40px;
  }
}

.drop-down-category {
  margin-bottom: 12px;
  font-size: 0.8rem;
  select {
    background-color: white;
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px $border-grey;
    height: 25px;
    width: 9vw;
  }

  select::placeholder {
    color: #b8b8b8;
  }
  .drop-down-inputs {
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px $border-grey;
    height: 25px;
  }
}

.search-form {
  margin: 20px 0;
  input {
    position: relative;
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px $border-grey;
    height: 40px;
    width: 60vw;
    max-width: 980px;
  }
  input::placeholder {
    color: #b8b8b8;
  }
  .submit-button {
    position: absolute;
    margin-left: -30px;
    margin-top: 8px;
    text-align: right;
    background-color: inherit;
    border: none;
    color: #a3a3a3;
  }
}

.banner {
  background-image: url(https://res.cloudinary.com/dk9a86uhu/image/upload/v1631081625/carousel/forest-931706_1920_hywbfq.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: 280px;
  width: 100%;
  // font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 150%;
  h1 {
    font-size: 2rem;
    margin: 0 16px;
  }
  .learn-more {
    margin: 20px 0 40px 0;
    height: 40px;
    width: 146px;
    border-radius: 4px;
    color: white;
    font-size: 1.3rem;
    border: none;
    background-color: black;
    &:hover {
      color: white;
      background-color: grey;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.border {
  height: 62px;
  border: solid 1px #AEAEAE;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  &:hover {
    background-color: #f5f3f3b6;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1.2fr 3fr 1fr 0.5fr;
}

.wave-index {
  width: 40vw;
  position: relative;
}

.wave-cart {
  width: 20vw;
  position: relative;
}

.loading-countdown {
  position: absolute;
  padding-top: 1rem;
  font-size: 0.8rem;
}

.wave-section {
  margin-right: 7vh;
}

.elements-position {
  white-space: nowrap;
}

.icon-adjust {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin: 7px 20px 0 20px;
  text-align: center;
  padding: 2px 0;
}

.pad-top {
  padding-top: 18px;
}

.play-icon-margin {
  margin-left: 10px;
}

.cursor {
  cursor: pointer;
}

.title-font {
  color: #4e4e4e;
  font-size: 0.65em;
}

.info-icon {
  padding-top: 16px;
  margin-left: 8px;
  color: #4e4e4e;
  font-size: 0.85em;
}

.max-width {
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-width-title-template {
  margin-left: 0;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-font {
  color: #999999;
  font-size: 0.6em;
  width: 30px;
  margin-left: 12px;
}

.points {
  height: 22px;
  width: 22px;
  text-align: center;
  margin-top: 16px;
  border: solid #FFA500 2px;
  border-radius: 50%;
}

.purchase-section {
  border-left: 1px solid $border-grey;
}

.purchase-icons {
  margin: 0 10px;
}

.icon-click-hover {
  color: #4e4e4e;
  &:hover {
    color: #999999;
  }
}

.in-cart {
  opacity: 50%;
}

.fa-info-circle {
  cursor: pointer;
}

@media (max-width: 600px) {
  // start the phone display here
}

@media (max-width: 634px) {
  .wave-index, .wave-cart {
    display: none;
    margin-right: 4vh;
  }
  .wrapper {
    grid-template-columns: 1.2fr 0.5fr 1fr 0.5fr;
  }
}

@media (max-width: 742px) {
  .wave-index {
    width: 28vw !important;
  }
  // the style bellow is temporary
  #index-banner-text {
    display: none !important;
  }
  .wave-cart {
    width: 28vw !important;
  }
}

@media (max-width: 812px) {
  .drop-down {
    margin: 20px 0 6px 0;
  }
  .search-form {
    margin: 6px 0 20px 0;
  }
  .wave-section {
    margin-right: 1vh !important;
  }
  .icon-adjust {
    height: 30px;
    width: 30px;
    margin: 0 8px 0 8px;
    padding: 0;
    i {
      font-size: 1.2rem;
    }
  }
  .pad-top {
    padding: 0;
  }
  .info-icon {
    padding: 0;
  }
  .elements-position {
    align-items: center;
    .title-font {
      margin-left: 8px;
    }
    .info-icon {
      display: none;
    }
    .info-font {
      margin: 0 8px;
    }
    .points {
      display: none;
    }
  }
  .elements-position-single-tracks-mobile {
    align-items: center;
    .info-font {
      margin: 0 0 0 8px;
    }
  }
  .info-icon-template-single-tracks-mobile {
    margin-top: 2px;
    font-size: 16px;
    margin-left: 4px;
  }
  .track-info-modal .track-info-modal-content {
    width: 96vw !important;
  }
  .learn-more-modal-content {
    width: 96vw !important;
  }
  #collection-image {
    width: 84vw !important;
  }
  .double-carrot-last {
    display: none;
  }
  .page-item {
    margin-top: -12px;
    font-size: 2.4rem;
  }
  .count-customize, .dash {
    margin-top: 4px !important;
    font-size: 1.1rem;
  }
  .results-font-size > p {
    font-size: 0.9rem;
  }
}

@media (max-width: 894px) {
  .wave-index {
    width: 35vw;
  }
  .wave-section {
    margin-right: 3vh;
  }
  .purchase-section {
    display: none !important;
  }
}


@media (max-width: 992px) {
  .info-icon {
    margin-right: 10px;
  }
}

@media (max-width: 1200px) {
  .wave-cart {
    width: 35vw;
  }

  .info-icon {
    margin-left: 5px;
  }

  .max-width {
    max-width: 100px;
  }
}