.forms {
  display: flex;
  justify-content: space-between;
}

.drop-down{
  margin: 20px 0;
  select {
    background-color: white;
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px #dee2e6;
    width: 100%;
    height: 40px;
    width: 25vw;
  }
  select::placeholder {
    color: #b8b8b8;
  }
  input {
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px #dee2e6;
    height: 40px;
  }
}

.search-form {
  margin: 20px 0;
  input {
    position: relative;
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px #dee2e6;
    height: 40px;
    width: 65vw;
    max-width: 980px;
  }
  input::placeholder {
    color: #b8b8b8;
  }
  .submit-button {
    position: absolute;
    margin-left: -30px;
    margin-top: 8px;
    text-align: right;
    background-color: inherit;
    border: none;
    color: #a3a3a3;
  }
}

.banner {
  background-image: url(https://res.cloudinary.com/dk9a86uhu/image/upload/v1631081625/carousel/forest-931706_1920_hywbfq.jpg) ;
  height: 220px;
  width: 100%;
  // font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 150%;
  h1 {
    font-size: 50px;
  }
  .learn-more {
    margin: 0 150px;
    height: 40px;
    width: 146px;
    border-radius: 10px;
    color: #4E4E4E;
    font-size: 1vw;
    border: none;
    background-color: #e9e9e9;
    &:hover {
      color: white;
      background-color: grey;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.border {
  height: 70px;
  border: solid 1px #AEAEAE;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  &:hover {
    background-color: #f5f3f3b6;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1.2fr 3fr 1fr 0.5fr;
}

.wave-index {
  width: 40vw;
}

.wave-cart {
  width: 450px;
}

.wave-section {
  margin-right: 7vh;
}

.elements-position {
  white-space: nowrap;
}

.icon-adjust {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin: 7px 20px 0 20px;
  text-align: center;
  padding: 2px 0;
}

.pad-top {
  padding-top: 18px;
}

.play-icon-margin {
  margin-left: 10px;
}

.cursor {
  cursor: pointer;
}

.title-font {
  color: #4e4e4e;
  font-size: 0.6em;
}

.max-width {
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-font {
  color: #999999;
  font-size: 0.6em;
}

.points {
  height: 22px;
  width: 22px;
  text-align: center;
  margin-top: 16px;
  border: solid #FFA500 2px;
  border-radius: 50%;
}

.purchase-section {
  border-left: 1px solid #dee2e6;
}

.purchase-icons {
  margin: 0 10px;
}

.icon-click-hover {
  color: #4e4e4e;
  &:hover {
    color: #999999;
  }
}

.in-cart {
  opacity: 50%;
}

@media (max-width: 600px) {
  // start the phone display here
}

@media (max-width: 634px) {
  .wave-index {
    display: none;
    margin-right: 4vh;
  }
  .wrapper {
    grid-template-columns: 1.2fr 0.5fr 1fr 0.5fr;
  }
}

@media (max-width: 742px) {
  .wave-index {
    width: 28vw !important;
  }
  // the style bellow is temporary
  #index-banner-text {
    display: none !important;
  }
  .wave-cart {
    width: 28vw !important;
  }
}

@media (max-width: 812px) {
  .wave-section {
    margin-right: 1vh !important;
  }
}

@media (max-width: 894px) {
  .wave-index {
    width: 35vw;
  }
  .wave-section {
    margin-right: 3vh;
  }
}


@media (max-width: 992px) {
  .title-font {
    margin-right: 15px;
  }
}

@media (max-width: 1200px) {
  .wave-cart {
    width: 35vw;
  }
}