.screen-display {
  display: none;
}

.pagination {
  display: flex;
  justify-content: end;
  margin: -8px 0;
  font-size: 0.8em;
}

.results-font-size {
  font-size: 0.8em;
}

.carrots {
  margin: 0 4px 20px 4px;
}

.double-carrot-first {
 margin-right: 4px;
}

.double-carrot-last {
  margin-left: 4px;
}

.dash {
  margin-top: 6px;
}

.count-customize {
  margin-top: 6px;
  padding: 0 4px;
}

#new-release-track {
  height: 40px;
  margin-top: -17px;
  margin-left: -14px;
  position: absolute;
  transform: rotate(-65deg);
}

.keyword-display {
  margin-left: 8px;
  padding: 2px 8px;
  background-color: black;
  border-radius: 4px;
  height: 24px;
  color: white;
}

.paginate-space-top {
  margin-top: 20px;
}