<div class="d-flex flex-column" data-controller="show-review">
  <div class="d-flex justify-content-between review__wrapper">
    <div class="review__header">
      <div class="review__star-wrapper">
        <% review.rating.times do %>
          <i class="fas fa-star" style="height: 18px; color: #ffa500"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-star" style="height: 18px; color: #ffa500"></i>
        <% end %>
        <span style="margin-left: 8px">
          <strong><%= review.title %></strong>
        </span>
      </div>
    </div>
  </div>
  <div class="review__desc d-none" data-show-review-target="reviewContent"><em><%= review.content %></em></div>
  <% if review.content.present? %>
    <div class="btn btn-light" style="margin-top: 8px" data-action="click->show-review#toggle">Read full review</div>
  <% end %>
</div>

