<div class="top-links">
  <%= link_to 'Back', url_for(:back), class: "btn btn-secondary" %>
  <% if !@pack.live? %>
    <div class="btn btn-warning">
      <%= @pack.status %>
    </div>
  <% end %>
</div>
