<div class="slideshow-container">
  <div>
    <% if @current_sales_list != {} %>
      <%= image_tag asset_path('Promo_sale.png'), id: "promo20" %>
    <% else %>
      <%= image_tag asset_path('Promo20_2.png'), id: "promo20" %>
    <% end %>
  </div>

  <section id="scroll-down">
    <a href="#front-title"><span></span></a>
  </section>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1631081624/carousel/jakob-owens-0Xl9HAf0RyE-unsplash_vkh5gw.jpg">
    <div class="text" id="film-title">Films</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1631081625/carousel/forest-931706_1920_hywbfq.jpg">
    <div class="text" id="atmos-title">Atmospheres</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1603997663/carousel/windstorm_insurance_homeowners_property_NJ_NY_CA_FL_primeins_hvvsmh.jpg">
    <div class="text" id="adventure-title">Natural Disasters</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1631081631/carousel/dragon-4538237_qptguc.jpg">
    <div class="text" id="adventure-title">Adventure</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1631081624/carousel/exocorps-delay_zrb6bd.jpg">
    <div class="text">Video Games</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1631082280/carousel/nika-benedictova-LtlIMndFzD4-unsplash_qs6dnk.jpg">
    <div class="text">Role Playing</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(0)"></span>
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
</div>

<script>
var slideIndex = 0;
var timeOut;
clearTimeout(timeOut);
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlidesClick(slideIndex += (n - 1));
}

// Thumbnail image controls
function currentSlide(n) {
  showSlidesClick(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  timeOut = setTimeout(showSlides, 4000); // Change image every 2 seconds
}

function showSlidesClick(n) {
  clearTimeout(timeOut);
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  showSlides(slideIndex);
}
</script>
