<div class="slideshow-container">
  <div>
    <% if @current_sales_list != {} %>
      <%= image_tag asset_path('Promo_sale.png'), id: "promo20" %>
    <% else %>
      <%= image_tag asset_path('Promo20_2.png'), id: "promo20" %>
    <% end %>
  </div>

  <section id="scroll-down">
    <a href="#front-title"><span></span></a>
  </section>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1603980704/carousel/caroussel1_xu8m7b.jpg">
    <div class="text" id="film-title">Films</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1603980697/carousel/caroussel4_e8s5nn.jpg">
    <div class="text" id="atmos-title">Atmospheres</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1603980696/carousel/caroussel3_s2ql91.jpg">
    <div class="text" id="adventure-title">Natural Disasters</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1603980696/carousel/caroussel2_yqa6qd.jpg">
    <div class="text" id="adventure-title">Adventure</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1603987716/carousel/caroussel5_kbtpfu.jpg">
    <div class="text">Video Games</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1603988578/carousel/D_D_Art_and_Arcan__Regular_Edition__book_cover.0_ilati5.jpg">
    <div class="text">Role Playing</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(0)"></span>
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
</div>

<script>
var slideIndex = 0;
var timeOut;
clearTimeout(timeOut);
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlidesClick(slideIndex += (n - 1));
}

// Thumbnail image controls
function currentSlide(n) {
  showSlidesClick(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  timeOut = setTimeout(showSlides, 4000); // Change image every 2 seconds
}

function showSlidesClick(n) {
  clearTimeout(timeOut);
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  showSlides(slideIndex);
}
</script>
