<!-- The Track Info Modal -->
<div id="comingSoon" class="coming-soon-modal">
  <!-- Modal content -->
  <div id="comingSoonContent" class="coming-soon-modal-content">
    <p>Point value for collection</p>
  </div>
</div>