<div class="d-none"> <!-- temporary -->
  <div class="left-pannel d-flex justify-content-center">
    <div class="d-flex flex-column text-center">
      <div class="left-pannel-icon">
        <i class="fal fa-box"></i>
        <p>PACKS</p>
      </div>
      <div class="left-pannel-icon">
      <i class="fas fa-box"></i>
      <p>PACKS</p>
      </div>
      <div class="left-pannel-icon">
      <i class="fal fa-heart"></i>
      <p>PACKS</p>
      </div>
      <div class="left-pannel-icon">
      <i class="fal fa-layer-group"></i>
      <p>PACKS bob</p>
      </div>
    </div>
  </div>
</div> <!-- temporary -->