<ul>
  <% @tracks.each do |track_id| %>
    <li>
      <% if SingleTrack.exists?(id: track_id) %>
        <% track = SingleTrack.find(track_id) %>
        <%= track.title %>
        <%= link_to "download", download_single_path(url: track.link, title: track.title) %>
      <% else %>
        <p>This track does no longer exist</p>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to "download all", create_zip_path(tracks: @tracks) %>