<% if "$" != session[:currency] %>
  <% conversion_rate = CurrencyRate.where("base = ? AND target = ?", "USD", "EUR").order(created_at: :desc).first.rate.to_f %>
<% else %>
  <% conversion_rate = 1 %>
<% end %>
<div data-controller="collection-checkout-modal">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <i class="fas fa-compact-disc checkout-icon-adjust"></i>
      <div class="d-flex flex-column justify-content-center">
        <div style="font-weight: 500">Collection of <%= @collection.tracks.count %> tracks for <%= humanized_money(@collection.price * conversion_rate, symbol: session[:currency]) %>
        </div>
      </div>
    </div>
    <button id="list-tracks-modal-button"
            data-collection-checkout-modal-target="button"
            data-action="click->collection-checkout-modal#modalDisplay">
      List of tracks
    </button>
  </div>


  <!-- Collection List Modal -->
  <div id="collectionModal" class="track-list-modal" data-collection-checkout-modal-target="collectionModal">
    <!-- Modal content -->
    <div class="collection-modal-content">
      <div class="d-flex justify-content-between">
        <h3>List of tracks in your Collection</h3>
        <span class="close"
              data-collection-checkout-modal-target="close"
              data-action="click->collection-checkout-modal#modalClose">&times;
        </span>
      </div>
      <hr>

        <% @collection.tracks.each do |track| %>
          <% displayed_track = SingleTrack.find(track) %>
          <div class="grid-display-list">
            <div><%= sanitize SingleTrack.categories[displayed_track.category.to_sym].to_s %></div>
            <div><%= displayed_track.title %></div>
          </div>
        <% end %>

    </div>
  </div>
</div>
