<% if @order.tracks != [] %>
  <hr>
  <ul>
    <% @order.tracks.each do |track| %>
      <% displayed_track = SingleTrack.find(track) %>
      <li><%= displayed_track.title %> <%= displayed_track.price_cents / 100.to_f %></li>
    <% end %>
  </ul>
  <hr>
<% end %>