<ul>
  <h3>Your Collection <%= @collection.title %> for <%= humanized_money_with_symbol(@collection.price) %></h3>
  <% @collection.tracks.each do |track| %>
    <% displayed_track = SingleTrack.find(track) %>
    <li class="display-list"><%= displayed_track.title %></li>
  <% end %>
</ul>
