<div class="dark-background">
  <div class="submission-form__container">
    <div class="d-flex justify-content-center" data-controller="application-modal">
      <button class="submission-form__about-applying btn btn-light mb-3" data-action="click->application-modal#show"><i class="fas fa-info-circle"></i> About Applying</button>
      <%= render "designer_submissions/application_modal" %>
    </div>
    <div class="submission-form__box">
      <%= render "submission_form", designer_submission: @designer_submission  %>
    </div>
  </div>
      <div class="d-flex justify-content-center submission-form__progress-bar-wrapper">
      <div class="submission-form__progress-bar-dot me-2 blinking"></div>
      <div class="submission-form__progress-bar-dot ms-2"></div>
    </div>
</div>
