<div class="dark-background">
  <div class="submission-form__container">
    <h3 class="text-center mb-4"><strong>Step1: Apply to sell on BAMSFX</strong></h3>
    <div class="submission-form__box">
      <%= render "submission_form", designer_submission: @designer_submission  %>
    </div>
  </div>
</div>
