<div class="d-flex justify-content-between">
  <div class="mb-3">
    <span style="color: whitesmoke !important; margin-right: 8px; font-size: 0.8rem !important">Filter:</span>
    <span class="text-white px-3 py-1 badge rounded-pill designer-dashboard__packs-filter-pills active" data-designer-pack-filter-target="pill" data-action="click->designer-pack-filter#filter">all</span>
    <span class="text-white px-3 py-1 badge rounded-pill designer-dashboard__packs-filter-pills" data-designer-pack-filter-target="pill" data-action="click->designer-pack-filter#filter">live</span>
    <span class="text-white px-3 py-1 badge rounded-pill designer-dashboard__packs-filter-pills" data-designer-pack-filter-target="pill" data-action="click->designer-pack-filter#filter">submitted</span>
    <span class="text-white px-3 py-1 badge rounded-pill designer-dashboard__packs-filter-pills" data-designer-pack-filter-target="pill" data-action="click->designer-pack-filter#filter">declined</span>
    <span class="text-white px-3 py-1 badge rounded-pill designer-dashboard__packs-filter-pills" data-designer-pack-filter-target="pill" data-action="click->designer-pack-filter#filter">drafts</span>
    <span class="text-white px-3 py-1 badge rounded-pill designer-dashboard__packs-filter-pills" data-designer-pack-filter-target="pill" data-action="click->designer-pack-filter#filter">removed</span>
    <span style="color: whitesmoke">/</span>
    <span class="text-white px-3 py-1 badge rounded-pill designer-dashboard__packs-filter-pills active btn-hover-dismiss" data-designer-pack-filter-target="count">
      Count: <%= @pack_count[:all] %>
    </span>
  </div>
  <div>
    <%= link_to add_new_pack_path do %>
      <span class="px-3 py-1 rounded-pill designer-dashboard__add-pack-pill"><i class="fas fa-plus"></i> Add a Pack</span>
    <% end %>
  </div>
</div>