<div class="designer-dashboard__sales-grid">
  <div class="d-flex align-items-center">
    <div class="submission-card-date-title">
      <div>Date</div>
    </div>
    <div class="submission-card-content d-flex align-items-center">
      <div>Listing</div>
    </div>
  </div>

  <div class="sales-card-titles-price">
    <span class="ms-4">Price</span>
    <span class="w-100 text-center">Discount</span>
    <span class="ms-5">Payout</span>
  </div>
</div>
<% @sold_items.each do |item| %>
  <%= render "sold_item_card_mobile", item: item %>
<% end %>
<% if @past_sold_items.present? && @sold_items.present? %>
  <hr style="border-color: white; margin-top: 24px">
<% elsif !@sold_items.present? %>
  <div class="designer-dashboard__no-payout">
    <h4>There are no sales for this period</h4>
  </div>
<% end %>
<% @past_sold_items.each do |item| %>
  <%= render "sold_item_card_mobile", item: item %>
<% end %>
