<div class="designer-dashboard__sales-grid">
  <div class="d-flex align-items-center">
    <div class="submission-card-date-title">
      <div>Date</div>
    </div>
    <div class="submission-card-content d-flex align-items-center">
      <div>Listing name</div>
    </div>
  </div>

  <div class="sales-card-titles-price">
    <span class="ms-3">Price <em>(incl. VAT)</em></span>
    <span class="w-100 text-center">Discount</span>
    <span class="ms-5">Payout</span>
  </div>
  <div class="sales-card-titles-buyer">
    <span>Buyer</span>
    <span>Location</span>
  </div>
</div>
<% @sold_items.each do |item| %>
  <%= render "sold_item_card", item: item %>
<% end %>
<% if @past_sold_items.present? && @sold_items.present? %>
  <hr style="border-color: white; margin-top: 24px">
<% else %>
  <h4 class="mt-4 text-light">You haven't made any sales yet</h4>
<% end %>
<% @past_sold_items.each do |item| %>
  <%= render "sold_item_card", item: item %>
<% end %>