<div class="dark-background">
  <div class="submission-form__container">
    <div class="submission-form__back-button-position">
      <%= link_to designer_listings_path, class: "submission-form__back-button" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="submission-form__conditions-banner">
      Reminder: By submitting your sound effects, you guarantee that the sound effects submitted comply to the <strong>Content Submission Rules</strong> stated in the <strong><%= link_to "signed agreement", seller_agreement_path(@designer), target: "_blank" %></strong>.
    </div>
    <div class="pack-submission-form__box">
      <div class="text-center" style="">
        <h4>Pack Update</h4>
      </div>
      <hr>
      <%= render "designer_dashboards/pack_submission_form" %>
    </div>
    <div style="height: 40px"></div>
  </div>
</div>
