<h1>Thank you for your Purchase</h1>
<p> <%= @order.sfx_pack.title %> </p>
<p> $<%= @order.amount %> </p>
<p> <%=  link_to "Download Pack", @order.product_link, oncontextmenu: "return false;" %> </p>
