<%= render "shared/left_pannel_mobile"%>

<div class="container padding-navbar content">
  <div class="title-about">
    <h1 id="welcome-about">Welcome to</h1>
    <div><%= image_tag asset_path('logo/bam_pride.png'), id: "logo-about" %></div>
    <div><h1 id="text-logo-about">Sound Effects</h1></div>
    <div><h1 id="text-logo-small-about">SFX</div>
  </div>
  <div class="title-about-mobile">
    <h1 id="welcome-about">Welcome to</h1>
    <div class="d-flex justify-content-center">
      <div><%= image_tag asset_path('logo/bam_pride.png'), id: "logo-about" %></div>
      <div><h1 id="text-logo-small-about">SFX</div>
    </div>
  </div>
</div>

<div class="container about-content">
  Hi, this is just the beginning of the adventure!
  <br>
  My name is Olivier Girardot and I am based in Berlin. I am originally Composer and Sound Designer, but I recently graduated from a Web Design intensive training.
  I created this website all by myself, not just to sell my sound effects but ultimatly, to allow other sound designers to sell their sounds. The later, is a work in progress.
  <br> I want to make this place not only a shop, but a plateform for sound designers to find work opportunities and clients to get high quality custom made sound effects, specialy tailored for their projects.
  <br> But in the meantime it's just me, so here is a little presentation of myself.
  <br>
  <br>I recently graduated from this amazing coding School called <a href="https://www.lewagon.com/" target="_blank" rel="noopener">Le Wagon</a>. Before spending most of my time working as a developer since the beginning of 2020, I used to compose and design sound for films, commercials, video games, sound libraries and even virtual reality projects.

  I have a music background that goes way back to my early childhood. I got my first guitar at the age of 3 and I started learning piano and music theory at the age of 8. After getting around several other instruments along the way, and playing in various bands, I began my professional career in 2005, by composing for short films and TV programs. Quickly after, I entered the sound design field as well.

  Since, I have worked for brands like <a href="https://vimeo.com/128230587" target="_blank" rel="noopener">Samsung</a>, <a href="https://www.youtube.com/watch?v=St1EQBI3fIQ" target="_blank" rel="noopener">Daikin</a>, <a href="https://vimeo.com/121184043" target="_blank" rel="noopener">Nissan</a>, <a href="https://www.youtube.com/watch?v=Jabhxj1WELI&amp;t=254s" target="_blank" rel="noopener">Air Berlin</a>, Mitsubishi and more. I also work for television channels such as  Arte and Canal+.

  I have created literally thousands of sound effects and sound atmospheres.

  My sound design work is strongly influenced by both the fantasy and science fiction scenes from the past 5 decades. Films like 2001: a Space Odyssey, Blade Runner, Brazil, Tron, Star Trek, Alien, Lord of the Rings, Pan's Labyrinth, Harry Potter, and Eraserhead amongst many others.


  Feel free to <a href="mailto:olivier@ogsoundfx.com" rel="nofollow">contact me</a> for any custom request, suggestions, questions, or if you are a sound designer interested in selling your sounds on this platform.
  Here are some examples of my Sound Effects work:
  <br><br>
</div>

<center>
  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/692771275&amp;color=%237db6d6&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&show_teaser=false" width="700" height="125" frameborder="no" scrolling="no" data-mce-fragment="1"></iframe>
</center>
<center>
  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/693283969&amp;color=%237db6d6&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&show_teaser=false" width="700" height="125" frameborder="no" scrolling="no" data-mce-fragment="1"></iframe>
</center>
<center>
  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/526124277&amp;color=%237db6d6&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&show_teaser=false" width="700" height="125" frameborder="no" scrolling="no" data-mce-fragment="1"></iframe>
</center>
<center>
  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/693657859&amp;color=%237db6d6&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&show_teaser=false" width="700" height="125" frameborder="no" scrolling="no" data-mce-fragment="1"></iframe>
</center>
<center>
  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/155374199&amp;color=%237db6d6&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&show_teaser=false" width="700" height="125" frameborder="no" scrolling="no" data-mce-fragment="1"></iframe>
</center>
<center>
  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/665644457&amp;color=%237db6d6&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&show_teaser=false" width="700" height="125" frameborder="no" scrolling="no" data-mce-fragment="1"></iframe>
</center>
<center>
  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/240858865&amp;color=%237db6d6&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&show_teaser=false" width="700" height="125" frameborder="no" scrolling="no" data-mce-fragment="1"></iframe>
</center>
<center>
  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/118728159&amp;color=%237db6d6&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&show_teaser=false" width="700" height="125" frameborder="no" scrolling="no" data-mce-fragment="1"></iframe>
</center>
<br><br>


<center><img src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1606043941/sfx_shop/studio2_drks46.jpg" id="studio-img"></center>
