<div class="container padding-navbar content">
  <h1 class="d-flex justify-content-center">
    This is how I created My Monster sounds:
  </h1>
  <div class="d-flex justify-content-center">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/ObMQ43MdwJE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
