<%= render 'shared/navbar' %>
<%= render 'shared/caroussel' %>
<div class="container-xl">
  <h1 id="front-title">Browse through our high quality SFX Packs</h1>
      <%= render 'shared/pack_card' %>
</div>
