<div style="position: relative; background-color: black;">
  <embed src="https://the-quest.onrender.com/" style="width:100vw; height: 100vh; margin-top: 40px" type="">
  <div style="position: absolute; top: 0; left: 0; background-color: black; color: black; width: 300px; height: 60px; margin-top: 40px">black</div>
  <div class="be-patient-modal" data-controller="the-quest-modal" data-the-quest-modal-target="modal">
    The Quest is a retro, text-driven adventure game that brings back the spirit of 80s <i class="fas fa-keyboard" style="font-size: 2rem"></i> <br> <span style="color: #1dbb1e">Good Luck <i class="fab fa-fort-awesome" style="font-size: 3rem"></i></span> <br>...
    <div id="close-the-quest-modal" data-action="click->the-quest-modal#close">
      x
    </div>
  </div>
</div>  