<div style="position: relative; background-color: black;">
  <embed src="https://the-quest.onrender.com/" style="width:100vw; height: 100vh; margin-top: 40px" type="">
  <div style="position: absolute; top: 0; left: 0; background-color: black; color: black; width: 300px; height: 60px">black</div>
  <div class="be-patient-modal" data-controller="the-quest-modal" data-the-quest-modal-target="modal">
    Please Be Patient<br>The Game is Loading <br>...
    <div id="close-the-quest-modal" data-action="click->the-quest-modal#close">
      x
    </div>
  </div>
</div>  