<div class="d-flex">
  <%= link_to "Main", submissions_path, class: "btn btn-secondary me-2 btn-admin btn-admin-active" %>
  <%= link_to "Designer Submissions", submissions_path, class: "btn btn-secondary me-2 btn-admin" %>
  <%= link_to "Stats", submissions_path, class: "btn btn-secondary me-2 btn-admin" %>
  <button class="btn btn-secondary me-2 btn-admin">Stats</button>
</div>
