<div class="d-flex">
  <%= link_to "Live",
      designers_list_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if active_submission_tab?(designers_list_path)}",
      data: { turbo_action: "replace", turbo_frame: "designers_list_content" } %>
  <%= link_to "Offline",
      designers_offline_list_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if active_submission_tab?(designers_offline_list_path)}",
      data: { turbo_action: "replace",turbo_frame: "designers_list_content" } %>
  <%= link_to "Rejected",
      designers_rejected_list_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if active_submission_tab?(designers_rejected_list_path)}",
      data: { turbo_action: "replace",turbo_frame: "designers_list_content" } %>
</div>