<div class="designer-dashboard__sales-grid">
  <div class="d-flex align-items-center">
    <div class="submission-card-date-title">
      <div>Due Date</div>
    </div>
    <div class="submission-card-content d-flex align-items-center">
      <div>Paypal account</div>
    </div>
  </div>

  <div class="sales-card-titles-price">
    <span>Designer</span>
    <span>Amount Due</span>
    <span>Items sold</span>
  </div>
  <div class="sales-card-titles-buyer">
    <span>Time period</span>
    <span>Pay</span>
  </div>
</div>

<% @due_payouts.each do |payout| %>
  <%= render "payout_card", payout: payout %>
<% end %>
<hr>
<% @past_payouts.each do |payout| %>
  <%= render "paid_payout_card", payout: payout %>
<% end %>