<div class="padding-navbar content admin-min-height bg-dark pb-5">
  <div class="container">
    <%= render "admin_menu" %>
    <turbo-frame id="designers_tab_content">
      <%= render "designer_legal_entities" %>
    </turbo-frame>
  </div>
</div>