<div class="padding-navbar content admin-min-height bg-dark pb-5">
  <div class="container" data-controller="designer-pack-filter">
    <%= render "admin_menu" %>
    <%= render "designer_packs_list", packs: @packs%>
  </div>
</div>
