<div class="padding-navbar content admin-min-height bg-dark pb-4">
  <div class="container">
    <%= render "admin_menu" %>
    <div style="color: white; opacity: 0.7">Next payout: <%= humanized_money(@total_payout, symbol: "€ ") %></div>
    <%= render "payouts_list" %>
  </div>
</div>
