<div class="padding-navbar content admin-min-height bg-dark pb-5">
  <div class="container">
    <%= render "admin_menu" %>
    <div style="color: white; opacity: 0.7">Total payout amount: <%= humanized_money(@total_payout_eur, symbol: "€ ") %> / <%= humanized_money(@total_payout_usd, symbol: "$ ") %></div>
    <%= render "payouts_list" %>
  </div>
</div>
