.btn-admin-active {
  background-color: $new-green;
  &:hover {
    background-color: $light-grey;
    color: white;
  }
}

.btn-rejected {
  background-color: $indian-red;
  pointer-events: none  ;
}

.btn-reject {
  background-color: $indian-red;
  &:hover {
    background: opacify($color: grey, $amount: 0) ;
  }
}

.btn-orange {
  background-color: $orange-main;
  &:hover {
    color: white;
    background: opacify($color: grey, $amount: 0) ;
  }
}

.text-red-main {
  color: $indian-red;
}

.text-green-main {
  color: $blue-light;
}

.admin-min-height {
  min-height: calc(100vh - 78px);
}

.btn-hover-dismiss {
  pointer-events: none;
}

.paypal-info-status {
  width: 120px;
}