.btn-admin-active {
  background-color: $new-green;
  &:hover {
    background-color: $light-grey;
    color: white;
  }
}

.btn-rejected {
  background-color: $indian-red;
  pointer-events: none  ;
}

.admin-min-height {
  min-height: calc(100vh - 78px);
}

.btn-hover-dismiss {
  pointer-events: none;
}