.payout-create__card {
  border: $light-grey solid 1px;
  border-radius: 8px;
  padding: 12px;
}

.payout-create__designer-card {
  background-color: $dark-card-background;
  color: white;
  font-size: 0.9rem;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
}