.sold-item-card__grid {
  align-items: center;
  padding: 8px 20px;
  background-color: $secondary;
  border-radius: 6px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: -4px;
  display: grid;
  grid-template-columns: 0.7fr 1.2fr 0.6fr;
}