.submission-container {
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1320px;
}

.designer-dashboard__sales-grid {
  align-items: center;
  padding: 8px 20px;
  background-color: $dark-card-background;
  border-radius: 6px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: -4px;
  display: grid;
  grid-template-columns: 1fr 1.2fr 0.6fr;
}

.submission-card-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  background-color: $dark-card-background;
  border-radius: 6px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: -4px;
}

.sales-card-titles-price {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.sales-card-titles-buyer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.submission-card {
  min-height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-card-background;
  padding: 12px 20px;
  border-radius: 6px;
  color: #fff;
  margin-top: 20px;
}
.submission-card-date-title {
  text-align: center;
  margin-right: 20px;
  padding-right: 20px;
}

.submission-card-date {
  text-align: center;
  margin-right: 20px;
  border-right: 1px solid #888;
  padding-right: 20px;
}

.submission-day {
  font-size: 14px;
  color: #ccc;
}

.submission-date {
  font-size: 24px;
  font-weight: bold;
}

.submission-card-content .title {
  font-size: 16px;
}

.status {
  font-style: italic;
  color: $new-green;
  margin-left: 6px;
}

.submission-card-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.btn {
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.success {
  background-color: #77b77a;
}

.cancel {
  background-color: #99b79c;
}

.view-link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 500;
}

.submission-card_btn-group {
  width: 3rem;
  height: 2.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $new-green;
}

.submission-card__confirm-accept {
  border-radius: 8px 0 0 8px;
}

.submission-card__confirm-reject {
  border-radius: 0 8px 8px 0;
}