<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content margins">
  <h2 id="cart-title">Welcome to your cart <%= current_user.username %></h2>
  <% if Sale.where("end_date > ?", Date.current).count > 0 %>
    <%= render 'shared/cart_sale' %>
  <% else %>
    <%= render 'shared/cart_no_sale' %>
  <% end %>
</div>
