.collection-tracks-desktop {
  display: block;
}

.collection-tracks-mobile {
  display: none;
}

@media (max-width: 768px) {
  .collection-tracks-desktop {
    display: none;
  }
  
  .collection-tracks-mobile {
    display: block;
  }
  .add-to-collection-mobile {
    margin-top: 4px;
    font-size: 0.9rem;
  }
  .fa-ban-color i {
    font-size: 1.6rem;
    color: $orange-main;
  }
}
