.template-display-mobile {
  display: none;
}

.template-section {
  margin: 24px auto 0 auto;
  width: 80vw;
}

.template-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.template-card {
  border: solid 1px red;
  p {
    margin: 12px 0 0 8px;
  }
}

.template-picks {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#add-button {
  margin: auto 0;
  a {
    padding: 8px 80px;
  }
}

.template-banner {
  margin: 32px 0;
}

.template-title {
  margin-top: 24px;
  strong {
    font-size: 1.6rem;
  }
}

.template-display {
  margin: 32px 0;
  hr{
    margin: 12px 0 24px 0;
    width: 100%;
  }
}

.template-track-count {
  margin: 0 8px;
}

.template-tracks-container {
  margin: 0 40px;
}

.template-tracks {
  height: 44px;
  border: solid 1px $border-grey;
  margin-bottom: -1px;
  &:hover {
    background-color: #f5f3f3b6;
  }
  .wrapper-cart {
    padding-top: 4px;
  }
}

.template-track-wrapper {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1.2fr 3fr 0.2fr;
}

.template-wave-section {
  margin-right: 2vh;
}

.template-max-width-title {
  display: flex;
  justify-content: start;
  width: 12vw;
  overflow: hidden;
  // text-overflow: ellipsis;
}

.max-width-cart-icon {
  width: 2vw;
}

.template-icon-adjust {
  height: 48px;
  width: 48px;
  font-size: 28px;
  border-radius: 50%;
  background-color: $font-grey;
  color: white;
  margin: 24px 20px 0 40px;
  text-align: center;
  padding: 9px 0;
}

.template-info-banner {
  color: $font-grey;
  margin: 8px 0 32px 0;
  background-color: $whitesmoke;
  border-radius: 4px;
  padding: 24px 24px 18px 24px;
  h4 {
    font-size: 1.6vw;
  }
}

// mobile classes

.template-tracks-container-mobile {
  margin: 0 8px;
}

.template-grid-mobile {
  display: flex;
  justify-content: space-between;
}

.arrow-icon {
  margin: auto 12px auto 0 !important;
}

.template-icon-adjust-mobile {
  height: 48px;
  width: 48px;
  font-size: 28px;
  border-radius: 50%;
  background-color: $font-grey;
  color: white;
  margin: 12px 0 auto 12px !important;
  margin: auto;
  text-align: center;
  padding: 9px 0;
}

.template-title-mobile {
  margin-top: 0;
  strong {
    font-size: 1.2rem;
  }
}

.template-display-mobile-closed {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .template-display-desktop {
    display: none !important;
  }
  .template-display-mobile {
    display: block !important;
  }
  .template-info {
    h5 {
      font-size: 1.2rem;
    }
  }
  .add-button-desktop {
    display: none;
  }
  .template-section {
    margin: 0 auto 0 auto;
    width: 94vw;
  }
  .template-banner {
    margin: 12px 0 24px 0;
    border-radius: 4px;
  }
  .template-info-banner {
    color: $font-grey;
    margin: 8px 0 12px 0;
    border-radius: 4px;
    // background-color: inherit;
    padding: 8px;
    h4 {
      font-size: 0.8rem;
    }
    align-items: center;
  }
}
