.create-template-form {
  margin: 0 20px;
  padding: 8px 12px;
  width: 100%;
  border: 1px solid $border-grey;
}

.create-template-form-input {
  width: 100%;
}

.form-group {
  margin-top: 8px !important;
}

