.template-section {
  margin: 24px auto 0 auto;
  width: 80vw;
}

.template-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.template-card {
  border: solid 1px red;
  p {
    margin: 12px 0 0 8px;
  }
}

.template-picks {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#add-button {
  margin: auto 0;
  a {
    padding: 8px 80px;
  }
}