.designer-dashboard__welcome {
    color: $whitesmoke;
    text-align: center;
    margin-top: 36px;
    h3 {
      font-size: 1.4rem;
      display: inline-block;
      border: 1px solid $whitesmoke;
      border-radius: 8px;
      padding: 12px;
    }
}

.designer-dashboard__container, .designer-dashboard__banner {
  color: $whitesmoke;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  background-color: $light-card-background;
}

.designer-dashboard__hover-effect {
  color: white;
  &:hover {
    color: $new-green;
  }
}

.designer-dashboard__banner {
  height: 180px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.designer-dashboard__banner-designer-photo {
  i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 12px;
  }
  position: absolute;
  bottom: 40px;
  left: -26px;
  img {
    border: 4px solid $light-card-background;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
}

.designer-dashboard__banner-photo-display {
  &:hover {
   filter: grayscale(100%);
    cursor: pointer;
    i {
      display: block;
    }
  }

}

.designer-dashboard__banner-photo-form {
  position: absolute;
  bottom: 80px;
  left: 170px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  border-radius: 8px;
  .form-group {
    margin-top: 0 !important;
  }
  input {
    color: white;
  }
}

.designer-dashboard__banner-image-form {
  position: absolute;
  bottom: 130px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  border-radius: 8px;
  .form-group {
    margin-top: 0 !important;
  }
  input {
    color: white;
  }
}

.designer-dashboard__banner-photo-form-inputs {
  display: flex;
}

.designer-dashboard__banner-icon {
  i {
    cursor: pointer;
    &:hover {
      color: $font-grey;
    }
  }
}

.designer-dashboard__label {
  font-size: 1.2rem;
  margin-bottom: 4px;
  .approved-icon {
    color: $new-green;
    font-size: 1.4rem;
  }
  .invalid-icon {
    color: $indian-red;
    font-size: 1.4rem;
  }
}

.designer-dashboard__info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.designer-dashboard__info {
  .info-color {
    color: $lighter-grey;
  }
}

.designer-dashboard__preferred-currency {
  width: 80px;
  background-color: $new-green;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $new-green;
    cursor: default;   
  }
}

.designer-dashboard__paypal-account {
  font-weight: bold;
}

.designer-dashboard__update-email {
  background-color: $orange-main;
}

.designer-dashboard__paypal-pending {
  background-color: $orange-main;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $orange-main;
    cursor: default;   
  }
}

.designer-dashboard__paypal-active {
  background-color: $new-green;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $new-green;
    cursor: default;   
  }
}

.designer-dashboard__paypal-inactive {
  background-color: $indian-red;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $indian-red;
    cursor: default;   
  }
}

.designer-dashboard__btn-form {
  background-color: $new-green;
}

.designer-dashboard__edit-icon {
  cursor: pointer;
  &:hover {
    color: $font-grey;
  }
}

@media (max-width: 768px) {
  .designer-dashboard__banner-photo-form-inputs {
    display: block;
  }

  .designer-dashboard__banner-photo-form {
    bottom: auto;
    left: 20%;
    #submit {
      margin-top: 12px;
      width: 100%;
    }
  }

  .designer-dashboard__banner-image-form-inputs {
    display: block;
  }

  .designer-dashboard__banner-image-form {
    bottom: auto;
    left: 20%;
    #submit {
      margin-top: 12px;
      width: 100%;
    }
  }

  .designer-dashboard__banner-image-form-buttons {
    display: flex;
    justify-content: space-between;
    .designer-dashboard__banner-image-form-icon {
      margin-top: 12px;
    }
  }
}