.designer-dashboard__welcome {
  color: $whitesmoke;
  text-align: center;
  margin-top: 24px;
  h3 {
    font-size: 1.4rem;
    display: inline-block;
    border: 1px solid $whitesmoke;
    border-radius: 8px;
    padding: 12px;
  }
}

.designer-dashboard__container {
  color: $whitesmoke;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  background-color: $light-card-background;
  i {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.designer-dashboard__label {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.designer-dashboard__info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.designer-dashboard__info {
  .info-color {
    color: $lighter-grey;
  }
}

.designer-dashboard__preferred-currency {
  width: 80px;
  background-color: $new-green;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $new-green;
    cursor: default;   
  }
}

.designer-dashboard__paypal-account {
  font-weight: bold;
}

.designer-dashboard__update-email {
  background-color: $orange-main;
}

.designer-dashboard__paypal-pending {
  background-color: $orange-main;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $orange-main;
    cursor: default;   
  }
}

.designer-dashboard__paypal-active {
  background-color: $new-green;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $new-green;
    cursor: default;   
  }
}

.designer-dashboard__paypal-inactive {
  background-color: $indian-red;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $indian-red;
    cursor: default;   
  }
}

.designer-dashboard__btn-form {
  background-color: $new-green;
}