.designer-dashboard__payouts-grid {
  align-items: center;
  padding: 8px 20px;
  background-color: $dark-card-background;
  border-radius: 6px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: -4px;
  display: grid;
  grid-template-columns: 1fr 1.8fr 1.5fr 1.5fr;
}

.designer-dashboard__payouts-desktop {
  display: inherit;
}

.designer-dashboard__payouts-mobile {
  display: none;
}

.payout-card-titles-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.payouts-card-date {
  width: 80px;
  text-align: center;
  margin-right: 28px;
  border-right: 1px solid #888;
  padding-right: 20px;
}

.designer-dashboard__payout-show-list-desktop {
  display: inherit;
}

.designer-dashboard__payout-show-list-mobile {
  display: none;
}

.items-sold__section {
  position: relative;
}

.items-sold__modal {
  z-index: 100;
  text-align: start;
  width: 20vw;
  padding: 12px;
  background-color: white;
  color: black;
  border-radius: 8px;
  position: absolute;
  margin: auto;
  left: -14vw;
  top: -100%;
}

.items-sold__list-title {
  font-size: 0.8rem;
}

.designer-dashboard__payout-amount {
  text-align: center;
}

.designer-dashboard__payout-form {
  .form-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 !important;
    label {
      color: white;
      display: flex;
      align-items: center;
    }
    select {
      padding: 4px 8px;
      font-size: 0.9rem;
      background-color: $new-green;
      color: white;
      border: none;
    }
  }
}

.designer-dashboard__payout-year-select {
  display: flex;
  justify-content: between;
  color: red;
  background-color: red;
}

.designer-dashboard__no-payout {
  color: white;
  text-align: center;
  margin-top: 24px;
}

@media (max-width: 991px) {
  .designer-dashboard__payouts-desktop {
    display: none;
  }

  .designer-dashboard__payouts-mobile {
    display: inherit;
  }
}

@media (max-width: 768px) {
  .submission-date {
    font-size: 1rem;
  }
}

@media (max-width: 634px) {
  .submission-date {
    font-size: 0.8rem;
  }
  .designer-dashboard__payouts-grid {
    font-size: 0.8rem;
  }
  .designer-dashboard__payout-show-list-desktop {
    display: none;
  }

  .designer-dashboard__payout-show-list-mobile {
    display: inherit;
  }
}

@media (max-width: 480px) {
  .designer-dashboard__payouts-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .designer-dashboard__payouts-desktop-paypal {
    display: none;
  }
}