.designer-dashboard__sales-desktop {
  display: inherit;
}

.designer-dashboard__sales-mobile {
  display: none;
}

.designer-dashboard__sales-xs {
  display: none;
}

.sound-designer-dashboard__sales-image {
  margin-right: 12px;
  border-radius: 4px;
  img {
    border-radius: 4px;
  }
}

.paid-pill, .pending-pill {
  font-size: 0.7rem;
  padding: 4px;
  border-radius: 16px;
  margin: 0 4px;
  cursor: pointer;
  &:hover {
    background-color: white;
  }
}

.pending-pill {
  background-color: $orange-main;
  border: 1px solid $orange-main;
}

.paid-pill {
  background-color: $new-green;
  border: 1px solid $new-green;
}

.designer-dashboard__sales-dates {
  color: white;
  font-size: 0.7rem;
  opacity: 0.7;
  cursor: pointer;
  #designer-dashboard__sales-pen {
    margin-left: 8px;
  }
  &:hover {
    opacity: unset;
    color: white;
  }
}
#designer-dashboard__sales-clear {
  font-size: 0.7rem;
  opacity: 0.7;
  color: white;
  margin-left: 12px;
  cursor: pointer;
  &:hover {
    opacity: unset;
    color: white;
  }
}

@media (max-width: 991px) {
  .designer-dashboard__sales-desktop {
    display: none;
  }

  .designer-dashboard__sales-mobile {
    display: inherit;
  }

  .designer-dashboard__sales-xs {
    display: none;
  }

  .designer-dashboard__sales-grid {
    grid-template-columns: 0.7fr 1.2fr;
  }
}

@media (max-width: 634px) {
    .designer-dashboard__sales-desktop {
    display: none;
  }

  .designer-dashboard__sales-mobile {
    display: none;
  }

  .designer-dashboard__sales-xs {
    display: inherit;
  }

  .designer-dashboard__sales-grid {
    grid-template-columns: 0.4fr 2fr 1fr;
  }

  .submission-card-date {
    text-align: start;
    margin-right: 8px;
    padding-right: 0;
  }
}