.submissions-live__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
}

.live {
  color: white !important;
  background-color: $new-green !important;
}

.declined {
  color: $indian-red !important;
}

.removed {
  color: white !important;
  background-color: $indian-red !important;
}

.pending {
  color: white !important;
  background-color: $orange-main !important;
}

.else {
  color: $light-orange !important;
}

.submissions__pack-description {
  p {
    color: whitesmoke !important;
  }
}

.submissions__pack-price {
  padding-bottom: 8px;
  margin-left: 4px;
  align-self: flex-end;
  color: whitesmoke !important;
  #submissions__pack-price-font {
    font-size: 1rem;
  }
}

.designer-dashboard__packs-filter-pills {
  cursor: pointer;
  background-color: $light-card-background;
}

.designer-dashboard__packs-filter-pills.active {
  background-color: $new-green;
}

.designer-dashboard__pills {
  display: flex;
  justify-content: space-between;
  .pills-width {
    max-width: 8rem;
  }
}

.designer-dashboard__pills.pills-desktop {
  display: flex
}

.designer-dashboard__pills.pills-mobile {
  display: none
}

.designer-dashboard__pills-color {
  background-color: $new-green;
}

.designer-dashboard__add-pack-pill {
  background-color: whitesmoke;
  color: $font-grey;
  transition-duration: 0.3s;
  &:hover {
    background-color: $light-grey;
    transition-duration: 0.3s;
  }
}

.designer-dashboard__icon-white {
  color: whitesmoke;
}

.custom-file-upload {
  margin-right: 8px;
  width: 50%;
  display: inline-block;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.custom-file-upload:hover {
  background-color: #444;
}

.hidden-file-input {
  display: none;
}

@media (max-width: 1399px) {
  .submissions-live__grid {
    grid-template-columns: 1fr 1fr;
  }
  .designer-dashboard__pills {
    .pills-width {
      max-width: 12rem;
    }
  }
}

@media (max-width: 1199px) {
  .designer-dashboard__pills {
    .pills-width {
      max-width: 11rem;
    }
  }
}

@media (max-width: 991px) {
  .submissions-live__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .designer-dashboard__pills.pills-desktop {
    display: none
  }

  .designer-dashboard__pills.pills-mobile {
    display: flex
  }

  .designer-dashboard__pills {
    .pills-width {
      margin-top: 8px;
      max-width: 100%;
    }
  }

  .designer-dashboard__banner-artist-name {
    font-size: 1rem;
    margin-left: 8rem;
  }
}