.submissions-live__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
}

.live {
  color: $new-green !important;
}

.declined {
  color: $indian-red !important;
}

.else {
  color: $light-orange !important;
}

.submissions__pack-description {
  p {
    color: whitesmoke !important;
  }
}

.submissions__pack-price {
  color: whitesmoke !important;
  #submissions__pack-price-font {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .submissions-live__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .submissions-live__grid {
    grid-template-columns: 1fr;
  }
}
