.sfx_card__border {
  border: solid 1px $border-grey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.sfx_card__cover {
  padding: 20px;
}

.sfx_card__description {
  padding-left: 0;
}

.sfx_card__designer_pic {
  width: 44px;
  object-fit: cover;
}

.sfx_card__price {
  text-align: right;
}

@media (max-width: 768px) {
  .sfx_card__cover {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .sfx_card__image {
    padding: 8px;
  }
  .sfx_card__description {
    padding-left: 8px;
    text-align: justify;
  }
  .card-body {
    padding-top: 0;
  }
}