.total {
  text-align: center;
  padding: 5px 15px 10px 15px;
  color: $font-grey !important;
  border: solid 1px $border-grey;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06);
}

.price-color {
  color: $darker-blue;
}

#continue-shopping {
  margin: 8px 10px;
}