.margins {
  margin-top: 20px;
  margin-bottom: 25px;
}

#cart-title {
  text-align: center;
  padding: 5px 15px 10px 15px;
  background-color: $whitesmoke;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.price-color {
  color: $darker-blue;
}

#instead {
  margin: 6px 0px 0px 8px;
  // color: $indian-red;
  color: $orange-main;
}

.item-attributes {
  margin: 25px 0px;
}

#continue-shopping {
  margin: 8px 10px;
}

.total {
  text-align: center;
  padding: 5px 15px 10px 15px;
  color: $font-grey !important;
  background-color: $whitesmoke;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

.item-attributes-small {
  display: none;
}

#instead-mobile {
  display: none;
}

$breakpoint-tablet: 768px;
$breakpoint-mobile: 575px;
$breakpoint-extra-small: 440px;
$breakpoint-super-duper-small: 375px;
$breakpoint-evenmore-super-duper-small: 316px;
$breakpoint-evenmore-hyper-super-duper-small: 284px;

@media (max-width: $breakpoint-tablet) {
  #continue-shopping {
    margin-top: 16px;
    font-size: 18px;
  }
}

@media (max-width: $breakpoint-mobile) {
  #instead {
    display: none;
  }

  #instead-mobile {
    display: initial;
    color: $indian-red;
  }

}

@media (max-width: $breakpoint-extra-small) {
  #cart-title {
    font-size: 7vw;
  }

  #instead-mobile {
    font-size: 3vw;
    margin-top: 1.2vh;
  }
}

@media (max-width: $breakpoint-super-duper-small) {
  .item-attributes {
    display: none;
  }

  .item-attributes-small {
    text-align: center;
    display: initial;
  }

  #pack-title-small {
    font-size: 7vw;
  }

  #instead-mobile {
    font-size: 4.5vw;
  }

  #continue-shopping {
    margin-top: 1.5vh;
    font-size: 5vw;
  }
}

@media (max-width: $breakpoint-evenmore-super-duper-small) {
  #cart-title {
    font-size: 6vw;
  }
}

@media (max-width: $breakpoint-evenmore-hyper-super-duper-small) {
  #continue-shopping {
    margin-top: 0;
    font-size: 5vw;
    line-height: 18px;
  }
}
