.sfx_card__border {
  border: solid 1px $border-grey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.sfx_card__cover {
  padding: 20px;
}

.sfx_card__designer {
  // font-size: 1.2rem;
}

.sfx_card__designer_pic {
  width: 44px;
  object-fit: cover;
}

.sfx_card__price {
  text-align: right;
  // font-size: 1.2rem;
}