.cart-font {
  font-family: 'Poppins', sans-serif;
}

.margins {
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 4rem;
  margin-right: 4rem;
}

#cart-title {
  text-align: center;
  padding: 5px 15px 10px 15px;
  background-color: $whitesmoke;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

#instead {
  margin: 6px 0px 0px 8px;
  color: $orange-main;
}

.packs-display {
  border: solid 1px $border-grey;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06);

  hr {
    width: 90%;
  }

  .fa-angle-down, .fa-angle-up {
    font-size: 40px;
    font-weight: 500;
    margin: 24px 40px 0 0;
    cursor: pointer;
  }
}

.packs-display-closed {
  padding-bottom: 16px;
}

.cart-icon-adjust {
  height: 35px;
  width: 35px;
  font-size: 24px;
  border-radius: 50%;
  background-color: $font-grey;
  color: white;
  margin: 24px 20px 0 40px;
  text-align: center;
  padding: 5px 0;
}

.cart-sfx-packs-title {
  margin-top: 24px;
}

.collection-destroy-button {
  color: $font-grey;
  font-size: 2rem;
  margin-top: 17px;
  margin-left: 12px;
  &:hover {
    color: $light-grey;
  }
}

button {
  all: unset;
  cursor: pointer;
}

.cart-form-remove {
  text-align: end;
  margin-right: 44px;
  font-size: 26px;
  font-weight: 500;
}

.sub-total {
  background-color: $whitesmoke;
  margin: 0 32px 16px 16px;
  padding: 12px;
  gap: 12px;
  font-size: 1.2em;
}

.item-attributes {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 25px 0px;
  margin-left: 24px;
}

.item-attributes-small {
  display: none;
}

#instead-mobile {
  display: none;
}

// pannels dispertion
.pannel-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
}

$breakpoint-tablet: 768px;
$breakpoint-mobile: 575px;
$breakpoint-extra-small: 440px;
$breakpoint-super-duper-small: 375px;
$breakpoint-evenmore-super-duper-small: 316px;
$breakpoint-evenmore-hyper-super-duper-small: 284px;

@media (max-width: $breakpoint-tablet) {
  #continue-shopping {
    margin-top: 16px;
    font-size: 18px;
  }
}

@media (max-width: $breakpoint-mobile) {
  #instead {
    display: none;
  }

  #instead-mobile {
    display: initial;
    color: $orange-main;
  }

}

@media (max-width: $breakpoint-extra-small) {
  #cart-title {
    font-size: 7vw;
  }

  #instead-mobile {
    font-size: 3vw;
    margin-top: 1.2vh;
  }
}

@media (max-width: $breakpoint-super-duper-small) {
  .item-attributes {
    display: none;
  }

  .item-attributes-small {
    text-align: center;
    display: initial;
  }

  #pack-title-small {
    font-size: 7vw;
  }

  #instead-mobile {
    font-size: 4.5vw;
  }

  #continue-shopping {
    margin-top: 1.5vh;
    font-size: 5vw;
  }
}

@media (max-width: $breakpoint-evenmore-super-duper-small) {
  #cart-title {
    font-size: 6vw;
  }
}

@media (max-width: $breakpoint-evenmore-hyper-super-duper-small) {
  #continue-shopping {
    margin-top: 0;
    font-size: 5vw;
    line-height: 18px;
  }
}
