.checkout {
  margin: 20px 0px;
}

.checkout-font {
  font-family: 'Poppins', sans-serif;
}

.pack-details {
  margin-left: 20px;
}

.pack-name-price {
  font-weight: 500;
}

.display-list {
  font-size: 1.1rem;
}

.pack-payment-checkout {
  text-align: center;
}

.pack-payment-checkout, .collection-payment-checkout, .tracks-payment-checkout, .total-checkout {
  margin-bottom: 20px;
  padding: 20px 42px;
}

.checkout-collection-info-box {
  background-color: $whitesmoke;
  padding: 8px 18px;
  font-size: 1rem;
  margin-bottom: 12px;
}

.info-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-checkout {
  background-color: $whitesmoke;
}

#btn-add-tracks-collection {
  display: inline-block;
  text-align: center;
  background-color: $light-blue;
  color: white;
  border: solid 2px $darker-blue;
  border-radius: 4px;
  padding: 4px;
  &:hover {
    background-color: $light-grey;
    border: solid 2px $light-grey;
  }
 }