.collection-name-form {
  margin: -2px 0 0 10px;
  input {
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px $border-grey;
  }
  input::placeholder {
    color: #b8b8b8;
  }
  .submit-button {
    background-color: inherit;
    border: none;
    color: #a3a3a3;
  }
}

.hover-effect {
  &:hover {
    cursor: pointer;
    color: $font-grey !important;
  }
}

.collection-points {
  background-color: $orange-main;
  color: white;
  padding: 4px 8px;
  border-radius: 16px;
  height: 26px;
  font-size: 0.8rem;
}

.collection-name {
  p {
    margin-bottom: -4px;
  }
}

.points-banner-margin-bottom {
  margin-bottom: 4px;
  background-color: $whitesmoke;
}

.points-left-text {
  font-size: 0.8rem;
}

.points-left-display {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $blue-light;
  border-radius: 50%;
  color: white;
  margin-right: 4px;
  span {
    position: absolute;
    left: 0.6rem;
  }
}

.points-left-display-10 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $blue-light;
  border-radius: 50%;
  color: white;
  margin-right: 4px;
  span {
    position: absolute;
    left: 0.3rem;
  }
}

#btn-cart-collection {
  background-color: $light-blue;
  color: white;
  border: solid 2px $darker-blue;
  font-size: 0.8rem;
 }
