.collection-banner-content {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  top: 18vh;
  color: #f2f2f2;
  padding: 8px 12px;
  text-align: center;
  #create-your-collection {
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
  }
}

#collection-video-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
  margin-top: 12px;
  background-color: $blue-light;
  border-radius: 4px;
  transition-duration: 0.3s;
  cursor: pointer;
  &:hover {
    width: 404px;
    margin-top: 10px;
    padding: 2px 0;
    background-color: $light-grey;
    transition-duration: 0.3s;
    i {
      transition-duration: 0.5s;
      transform: rotate(360deg);
    }
  }
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  .collection-banner-content {
    font-size: 2rem;
    top: 9vh;
    #create-your-collection {
      font-size: 3.4rem;
    }
  }

  .collection-banner-text{
    margin-top: 40px;
  }

  #promo20 {
    bottom: 70px;
    left: 16px;
  }

  #subscribe-btn {
    height: 40px;
    bottom: 34px;
    right: 26px;
  }
}