.collection-name-form {
  margin: -2px 0 0 10px;
  input {
    color: #4E4E4E;
    padding-left: 10px;
    border: solid 1px $border-grey;
  }
  input::placeholder {
    color: #b8b8b8;
  }
  .submit-button {
    background-color: inherit;
    border: none;
    color: #a3a3a3;
  }
}

.hover-effect {
  &:hover {
    cursor: pointer;
    color: $font-grey !important;
  }
}

.collection-points {
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 16px;
  height: 26px;
  font-size: 0.8rem;
}

#your-points {
  padding: 3px 6px 0 0;
  font-size: 0.8rem;
  color: $orange-main;
}

.collection-name {
  p {
    margin-bottom: -4px;
  }
}

.points-banner {
  background-color: $whitesmoke;
  padding: 16px;
  border-radius: 4px;
}

.points-left-display {
  color: $blue-light;
  font-weight: 500;
}

#btn-cart-collection {
  background-color: $light-blue;
  color: white;
  border: solid 2px $darker-blue;
  font-size: 0.8rem;
 }

 #btn-cart-collection-full-width {
  width: 100%;
  display: inline-block;
  margin: 12px 0;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06);
  background-color: $light-blue;
  color: white;
  border: solid 2px $darker-blue;
  border-radius: 4px;
  padding: 4px;
  &:hover {
    background-color: $light-grey;
    border: solid 2px $light-grey;
  }
 }

 @media (max-width: 768px) {
  #collection-name-label {
    display: none;
  }
 }