.dashboard-title {
  text-align: center;
}

#newsletter-info-card {
  padding: 15px;
  background-color: $whitesmoke;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

#order-space-under-title {
  margin-bottom: 22px;
  text-align: center;
}

.dashboard-collection-grid, .dashboard-tracks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.total-dashboard {
  background-color: $whitesmoke;
  padding: 12px;
  gap: 12px;
  font-size: 1.2em;
}