.dashboard-title {
  color: $blue-light;
  text-align: center;
  border: $border-grey solid 1px;
  margin: 12px auto 24px auto;
  padding: 4px 0;
  width: 40%;
  border-radius: 8px;
}

.dashboard-pack-details {
  
}

#newsletter-info-card {
  padding: 15px;
  background-color: $whitesmoke;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

#order-space-under-title {
  margin-bottom: 22px;
  text-align: center;
}

.dashboard-collection-grid, .dashboard-tracks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.total-dashboard {
  background-color: $whitesmoke;
  padding: 12px;
  gap: 12px;
  font-size: 1.2em;
}

.dashboard-vat-display {
  font-style: italic;
  margin-bottom: 0;
  color: #999999;
  font-weight: 200;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .dashboard-title {
    width: inherit;
  }
  #newsletter-info-card {
    display: none;
  }
  .dashboard-title {
    font-size: 1.9rem;
    border-radius: 3px;
    border: solid 1px #dee2e6;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06);
  }
}