.footer {
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 10px 50px 0px;
  color: white;
}

.footer-links {
  margin-left: -120px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 38px;
}

.footer-links a:hover {
  opacity: 0.5;
}

#youtube {
  margin-top: 10px;
}

#unreal-icon-size {
  height: 41px;
  margin: 0px 20px 5px 20px;
}

#unity-icon-size {
  height: 36px;
  margin-bottom: 5px;
}

#unreal-icon-size-box:hover, .unity-icon-size-box:hover {
  filter: gray;
  -webkit-filter: grayscale(100%);
}

#copyright, #contact-info {
  line-height: 110%;
  text-align: center;
  color: $light-grey;
  a {
    color: $whitesmoke;
  }

  a:hover {
    text-decoration: none;
    color: $font-grey;
    cursor: pointer;
  }
}

#contact-info {
  margin-top: 10px;
  font-size: 18px;
}

#copyright-text {
  font-size: 12px;
}

$breakpoint-tablet: 768px;
$breakpoint-400: 400px;

// @media (min-aspect-ratio: 8/5) {

// }

@media (max-width: $breakpoint-tablet) {
  .footer {
    padding-bottom: 10px;
  }

  .footer-links {
    margin-left: 0px;
  }

  #contact-info-mobile {
    align-content: center;
    margin-bottom: 0px;
    text-align: center;
    color: $light-grey;
    a {
      color: $whitesmoke;
    }

    a:hover {
      text-decoration: none;
      color: $font-grey;
      cursor: pointer;
    }
  }

  #copyright, #contact-info {
    display: none;
  }

  #designed_by {
    display: none;
  }

  #designed_by_mobile {
    margin-bottom: 0px;
    text-align: center;
    color: $light-grey;
    a {
      color: $whitesmoke;
    }

    a:hover {
      text-decoration: none;
      color: $font-grey;
      cursor: pointer;
    }
  }
  #copyright-mobile {
    margin-bottom: 5px;
    font-size: 10px;
    text-align: center;
    color: $light-grey;
  }
}

@media (min-width: $breakpoint-tablet) {
  #designed_by_mobile {
    display: none;
  }
  #copyright-mobile {
    display: none;
  }
  #contact-info-mobile {
    display: none;
  }
}

@media (max-width: $breakpoint-400) {
  .footer {
    padding: 10px 30px 10px;
  }
}
