.home-page-collection-display {
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  border: solid 1px $border-grey;
  border-radius: 4px;
  padding: 12px;
}

.info-box-collection {
  height: 140px;
  padding: 15px;
  color: $font-grey !important;
  background-color: $whitesmoke;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1300px) {
  .collection-section {
    display: none;
  }
}
