.avatar {
  cursor: pointer;
  width: 40px;
  border-radius: 50%;
  margin-left: 8px;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.navbar-lewagon {
  z-index: 200;
  height: 56px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.5);
}

.navbar-lewagon-black {
  background: black !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.nav-link {
  margin-top: 2px !important;
  cursor: pointer;
  color: white !important;
}

#text-logo {
  padding: 1px 0px 0px 3px;
  color: $orange-main;
  font-family: $logo-font;
}

// #text-logo-small {
//   display: none;
// }

.padding-navbar {
  padding-top: 56px;
}

.font-permanent-marker {
  font-family: $title-font;
}

#cart-count {
  margin: 0;
  padding: 4px 0px 4px 10px;
  color: $darker-blue;
  font-weight: 700;
}

.become-seller {
  color: $orange-main !important;
  border: 1px solid $orange-main;
  margin-right: 22px;
  border-radius: 8px;
  padding: 4px 8px;
  margin-top: 4px !important;
  margin-bottom: 4px;
  &:hover {
    color: white !important;
    border: white solid 1px;
  }
}

.dropdown-menu {
  padding: 0;
  border-radius: 8px;
  .dropdown-item.seller {
    background-color: $new-green;
    color: white;
    border-radius: 8px 8px 0 0;
    &:hover {
      opacity: 1;
    }
  }
  .dropdown-item.log-out {
    border-radius: 0 0 8px 8px;
  }
  .dropdown-item:hover {
    background-color: $dark-modal-light;
    color: white;
  }
}

$breakpoint-mobile: 575px;
$breakpoint-mobile-up: 576px;

@media (max-width: 768px) {
  .navbar-toggler {
    margin-top: -5px;
    background-color:$orange-main;
  }

  #navbarSupportedContent {
    background-color: black;
    opacity: 0.8;
    border: solid 1px white;
    border-radius: 3px;
  }

  .nav-item {
    border: solid 1px white;
    text-align: center;
  }

  .avatar {
    width: 35px;
    margin: 5px;
  }

  #text-logo-small {
    padding: 1px 0px 0px 3px;
    color: $orange-main;
    font-family: $title-font;
  }

  #text-logo {
    display: none;
  }
}

@media (min-width: $breakpoint-mobile-up) {
    #text-logo-small {
    display: none;
  }
}
