.avatar {
  cursor: pointer;
  width: 40px;
  border-radius: 50%;
  margin-left: 8px;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.navbar-lewagon {
  z-index: 200;
  height: 56px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.5);
}

.navbar-lewagon-black {
  background: black !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.nav-link {
  cursor: pointer;
  color: white !important;
}

#text-logo {
  padding: 1px 0px 0px 3px;
  color: $orange-main;
  font-family: 'Permanent Marker', cursive;
}

// #text-logo-small {
//   display: none;
// }

.padding-navbar {
  padding-top: 56px;
  font-family: 'Permanent Marker', cursive;
}

#cart-count {
  margin: 0;
  padding: 4px 0px 4px 10px;
  color: $darker-blue;
  font-weight: 700;
}

$breakpoint-mobile: 575px;
$breakpoint-mobile-up: 576px;

@media (max-width: $breakpoint-mobile) {
  .navbar-toggler {
    margin-top: -5px;
    background-color:$orange-main;
  }

  #navbarSupportedContent {
    background-color: black;
    opacity: 0.8;
    border: solid 1px white;
    border-radius: 3px;
  }

  .nav-item {
    border: solid 1px white;
    text-align: center;
  }
  .avatar {
    width: 35px;
    margin: 5px;
  }

  #text-logo-small {
    padding: 1px 0px 0px 3px;
    color: $orange-main;
    font-family: 'Permanent Marker', cursive;
  }

  #text-logo {
    display: none;
  }
}

@media (min-width: $breakpoint-mobile-up) {
    #text-logo-small {
    display: none;
  }
}
