.navbar {
  padding: 0 12px;
}

.navbar-burger-mobile {
  display: none;
}

.navbar-burger-desktop {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "left center right";
  align-items: center;
  height: 56px;
  overflow: hidden;

  .navbar-left,
  .navbar-center,
  .navbar-right {
    display: contents;
  }
  
  .navbar-right {
    grid-area: right;
    justify-self: end;
    a {
      margin-top: -2px;
    }
  }
  
  // .navbar-left {
  //   grid-area: left;
  //   justify-self: start;
  // }
  
  // .navbar-center {
  //   margin-top: -12px;
  //   grid-area: center;
  //   justify-self: center;
  // }
}


@media (max-width: 768px) {
  .navbar-burger-mobile {
    display: flex;
    ul {
      width: 100%;
    }
  }
  
  .navbar-burger-desktop {
    display: none;
  }
}