.dashboard-center {
  margin-top: 20px;
  margin-bottom: 25px;
}

#dashboard-title {
  text-align: center;
  padding: 5px 15px 10px 15px;
  background-color: $whitesmoke;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

#space-around-edit-button {
  margin: 10px 15px 40px 15px;
}

#edit-profile, #browse-profile {
  border: solid 2px $darker-blue;
  &:hover {
    border: solid 2px $light-grey;
    color: $light-grey;
    }
}

#edit-profile {
  padding: 5px 20px;
}

#browse-profile {
  padding: 5px 35px;
}

.edit-profile-position {
  text-align: right;
}

.pack-info-dashboard {
  font-size: 25px;
  text-align: left;
}

#list-of-orders {
  text-align: left !important;
}

.order_card, .pending_card {
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

.order_card {
  padding: 25px 100px;
  background-color: $whitesmoke;
}

.pending_card {
  padding: 25px;
  background-color: $orange-light;
}

#pending-text {
  color: $indian-red;
}

.pack-info-dashboard {
  padding-top: 100px;
}

#order-space-under-title {
  margin-bottom: 35px;
}

.pack-row {
  height: 150px;
}

#image-pack {
  margin-top: 7px;
}

#title-pack {
  margin-top: 35px;
}

#download-pack {
  margin-top: 50px;
}

#download-pack-two {
  margin-top: 35px;
}

#download-pack-three {
  margin-top: 15px;
}

#download-pack-more {
  margin-top: 0px;
}

#btn-download-order, #btn-download-order-short {
  width: 120px;
  font-size: 120%;
  padding: 5px 12px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  background-color: $light-blue;
  color: white;
  border: solid 2px $darker-blue;
  &:hover {
    background-color: $light-grey;
    border: solid 2px $light-grey;
  }
}

#btn-download-order-short {
  display: none;
}

#instead-dashboard {
  color: $indian-red;
}

#instead-under {
  display: none;
  font-size: 15px;
  color: $indian-red;
}

#download-buttons-under {
  display: none;
}

$breakpoint-extra-small: 430px;
$breakpoint-mobile: 576px;
$breakpoint-intermediate: 650px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;

@media (max-width: $breakpoint-laptop) {
  .order_card {
    padding: 25px 50px;
  }

  #btn-download-order {
    font-size: 100%;
    padding: 3px 8px;
  }

  #title-pack {
    font-size: 20px;
  }

  #price-pack {
    font-size: 15px;
  }
}

@media (max-width: $breakpoint-tablet) {
  #instead-dashboard {
    display: none;
  }

  #instead-under {
    display: initial;
  }

  .container {
    max-width: 100%;
  }

  #btn-download-order {
  display: none;
}

  #btn-download-order-short {
    display: initial;
  }
}

@media (max-width: $breakpoint-intermediate) {
  .order_card {
    padding: 25px 20px;
  }
}

@media (max-width: $breakpoint-mobile) {
  #download-buttons-next {
    display: none;
  }

  #download-buttons-under {
    display: initial;
    text-align: center;
  }
}
