#chrome-download {
  padding: 15px;
  background-color: $orange-light;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

#dashboard-newsletter {
  color: $darker-blue;
}

#order-card-mobile {
  display: none;
}

.dashboard-center {
  margin-top: 20px;
  margin-bottom: 25px;
}

#space-around-edit-button {
  margin: 10px 15px 40px 15px;
}

#edit-profile, #browse-profile {
  border: solid 2px $darker-blue;
  &:hover {
    border: solid 2px $light-grey;
    color: $light-grey;
    }
}

#edit-profile {
  padding: 5px 20px;
}

#browse-profile {
  padding: 5px 35px;
}

.edit-profile-position {
  text-align: right;
}

.pack-info-dashboard {
  font-size: 25px;
  text-align: left;
}

#list-of-orders {
  text-align: left !important;
}

.order_card, .pending_card {
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

.order_card {
  padding: 25px 100px;
  background-color: $whitesmoke;
}

.pending_card {
  padding: 25px;
  background-color: $orange-light;
}

#pending-text {
  color: $orange-main;
}

.pack-info-dashboard {
  padding-top: 100px;
}

.pack-row {
  height: 150px;
}

#image-pack {
  margin-top: 7px;
}

#title-pack {
  margin-top: 35px;
}

#btn-download-order, #btn-download-order-short {
  width: 120px;
  font-size: 120%;
  padding: 5px 12px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  background-color: $light-blue;
  color: white;
  border: solid 2px $darker-blue;
  &:hover {
    background-color: $light-grey;
    border: solid 2px $light-grey;
  }
}

#btn-download-order-short {
  display: none;
}

#instead-dashboard {
  color: $orange-main;
  font-size: 16px;
}

#instead-under {
  display: none;
  font-size: 15px;
  color: $orange-main;
}

$breakpoint-evenmore-hyper-super-duper-small: 284px;
$breakpoint-evenmore-super-duper-small: 316px;
$breakpoint-extra-small: 430px;
$breakpoint-mobile-small: 525px;
$breakpoint-mobile: 576px;
$breakpoint-intermediate: 650px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;

@media (max-width: $breakpoint-laptop) {
  .order_card {
    padding: 25px 50px;
  }

  #btn-download-order {
    font-size: 100%;
    padding: 3px 8px;
  }

  #title-pack {
    font-size: 20px;
  }

  #price-pack {
    font-size: 15px;
  }
}

@media (max-width: $breakpoint-tablet) {
  #instead-dashboard {
    display: none;
  }

  #instead-under {
    display: initial;
  }

  .container {
    max-width: 100%;
  }

  #btn-download-order {
  display: none;
}

  #btn-download-order-short {
    display: initial;
  }
}

@media (max-width: $breakpoint-intermediate) {
  .order_card {
    padding: 25px 20px;
  }
}

@media (max-width: $breakpoint-mobile) {
  #instead-dashboard {
    display: initial;
  }

  #instead-under {
    display: none;
  }

  #order-card-desktop {
    display: none;
  }

  #order-card-mobile {
    display: initial;
  }

  #order-space-under-title-mobile {
    text-align: center;
    margin-bottom: 18px;
  }

  #download-buttons-under {
    text-align: center;
  }

  .order_card {
    padding: 25px 50px;
  }
}

@media (max-width: $breakpoint-mobile-small) {
  .edit-profile-position {
    display: block !important;
    text-align: center;
    margin-bottom: 23px;
  }

  #space-around-edit-button {
    margin-bottom: 25px;
  }
}

@media (max-width: $breakpoint-extra-small) {

  .order_card {
    padding: 15px 20px;
  }

  #order-space-under-title-mobile, #list-of-orders {
    font-size: 6vw;
  }
}

@media (max-width: $breakpoint-evenmore-super-duper-small) {

  .pack-row {
    display: block !important;
    height: auto;
  }

  #title-pack, #price-pack {
    text-align: center;
  }

  .image-center {
    text-align: center;
  }

  #image-pack {
    margin-top: 15px;
  }

  #download-pack {
    margin-top: 15px;
  }

  #download-pack-two {
    margin-top: 15px;
  }
}
