a {
  color: $darker-blue;
}

a:hover {
  text-decoration: none;
}

.top-links {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 115%;
  font-weight: 700;
}

.pack-box {
  background-color: $whitesmoke;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

.pack-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.pic-price {
  margin-left: 25px;
  margin-top: 25px;
  flex: 1;

  img {
    height: 600px;
  }
}

#price-position {
  text-align: right;
  margin-right: 15px;
  font-weight: 700;
}

.description-box {
  flex: 2;
  padding: 30px 75px 30px 30px;
  color: $font-grey !important;
}

li {
  font-size: 20px;
}

#pack-description {
  text-align: justify;
}

// .show-buttons {
//   padding: 0px 50px;
// }

#purchase-btn, #btn-cart-show {
  width: 150px;
  font-size: 135%;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

#purchase-btn:hover, #btn-cart-show:hover {
  font-weight: 700;
}

#purchase-btn {
  margin-left: 40px;
  margin-right: 40px;
  color: $font-grey;
  border: solid 2px $light-grey;
  background-color: white;
}

#btn-cart-show {
  background-color: $light-blue;
  color: white;
  border: solid 2px $darker-blue;
}

.tablet {
  display: none;
}

#tablet-file-caracteristics {
  display: none;
}

$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
$breakpoint-small: 490px;
$breakpoint-extra-small: 440px;
$breakpoint-super-duper-small: 375px;
$breakpoint-evenmore-super-duper-small: 316px;

@media (max-width: $breakpoint-laptop) {
  .pic-price {
    margin-left: 10px;
    margin-top: 30px;

    img {
      height: 350px;
    }
  }

  .pack-title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  #pack-description {
    display: none;
  }

  #purchase-btn {
    margin-left: 20px;
  }

  #preview-text {
    display: none;
  }
}

@media (max-width: $breakpoint-tablet) {
  .desktop  {
    display: none;
  }

  .tablet {
    display: initial;
  }

  .top-links {
    display: none !important;
  }

  .pack-box {
    margin-top: 20px;
  }

  .tablet-pack-title {
    padding: 10px 20px 0px 20px;
  }

  #sound-designer {
    padding-left: 20px;
  }

  .pic-price {
    margin-top: 10px;
  }

  .description-box {
    padding: 0;
    margin-top: 10px;
  }

  #purchase-btn, #btn-cart-show {
    margin: 0px 30px 20px 30px;
  }

  #preview-display {
    position: relative;
    width: 100%;
    height: 240px;
  }

  iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }


  #tablet-file-caracteristics {
    display: unset;
  }

  #desktop-file-caracteristics {
    display: none;
  }
}

@media (max-width: $breakpoint-tablet) {
  .pic-price {
    img {
      height: 250px;
      margin-bottom: 15px;
    }
  }

  .description-box {
    margin-top: 30px;
  }

}

@media (max-width: $breakpoint-small) {
  #tablink-list {
    display: none;
  }
}

@media (max-width: $breakpoint-extra-small) {
  .pack-title {
    font-size: 1.5rem;
  }

  #purchase-btn, #btn-cart-show {
    margin: 0px 20px 20px 20px;
    width: 130px;
    font-size: 110%;
    padding: 5px 7px;
  }

  .description-box {
    margin-top: 15px;
  }

  #tablet-file-caracteristics {
    font-size: 1rem;
  }
}

@media (max-width: $breakpoint-super-duper-small) {
  .pic-price {
    display: none;
  }

  #tablet-file-caracteristics {
    font-size: 1.3rem;
  }

  #purchase-btn, #btn-cart-show {
    height: 50px;
    width: 95px;
    font-size: 90%;
    padding: 2px 5px;
  }

  #purchase-btn {
    margin-right: 0px;
  }

  #btn-cart-show {
    margin-left: 0px;
  }
}

@media (max-width: $breakpoint-evenmore-super-duper-small) {
  .pack-title {
    font-size: 1.2rem;
  }
}
