.pack_specifics {
  margin-bottom: 50px;
  border: solid $border-grey 1px;
  border-radius: 8px;
}

.pack_pic {
  width:100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 8px 8px 0 0;
}

.pack_pic_template {
  padding: 56px;
}

#cart-btn-remove, #checkout-btn-remove {
  outline: none;
  &:hover {
    color: $light-grey;
  }
}

.bg-color-pink {
  background-color: $flash-pink;
  &:hover{
    background-color: $flash-pink;
    filter: grayscale(0.3);
    opacity: 0.5;
  }
}

.cart-pack-display {
  padding-left: 1rem;
}

.card-body-pack-info {
  padding: 0.6rem;
}

.card-body-pack-price {
  padding: 0 0.6rem 0.6rem 0.6rem;
}

#wrapper {
  position: relative;
}

.truncate-title {
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-title {
  position: relative;
  display: inline-block;
}

.tooltip-title .tooltiptext-title {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip-title:hover .tooltiptext-title {
  visibility: visible;
}

#triangle {
  z-index: 100;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100px solid $blue-light;
  border-right: 100px solid transparent;
}

#announcement {
  z-index: 100;
  transform:rotate(-45deg);
  top: 54px;
  left: 4px;
  font-weight: 700;
  color: white;
  position: absolute;
  width: 0;
  height: 0;
}

.pack_pic_cart {
  width: 8rem;
  aspect-ratio: 1 / 1;
}

.cart-pack-img-container {
  text-align: center;
}

.pack_card__designer_pic {
  width: 20px;
  object-fit: cover;
  aspect-ratio: 1;
}

.pack_card__designer_no_pic {
  font-size: 0.8rem;
  border: solid 1px black;
  border-radius: 50%;
  padding: 4px;
}

.add-to-cart-hover {
  background-color: $blue-light;
  &:hover {
    filter: grayscale(1);
    transition: 0.3s;
  }
}

#wrapper:hover .pack_pic, #wrapper:hover .pack_pic_cart, #wrapper:hover #image-pack {
    background-color: $whitesmoke;
    opacity: 0.5;
    transition: 0.5s;
}

#wrapper:hover .pop-up {
  visibility: visible;
}

#wrapper:hover .pop-up-cart {
  visibility: visible;
}

.pop-up {
  position: absolute;
  color: $font-grey;
  background-color: white;
  border: solid 2px $light-grey;
  top: 50%;
  left: 20%;
  padding: 10px;
  visibility: hidden;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
}

.pop-up-cart {
  position: absolute;
  color: $font-grey;
  background-color: white;
  border: solid 2px $light-grey;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 5px;
  visibility: hidden;
  border-radius: 4px;
  font-weight: 400;
  font-size: 10px;
}

.info-box {
  height: 140px;
  padding: 15px;
  color: $font-grey !important;
  background-color: $whiter-smoke;
  border-bottom: solid $border-grey 1px;
  border-left: solid $border-grey 1px;
  border-right: solid $border-grey 1px;
  border-radius: 0 0 8px 8px;
}

.info-box, p {
  font-weight: 400;
  font-size: 100%;
}

.info-box:hover {
  color: $font-grey !important;
}

#circle {
  border: solid $light-grey 12px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 7px;
}

#price {
  font-size: 1.8rem;
  text-align: right;
  font-weight: 700;
}

#price-sale {
  color: $orange-main;
  text-align: right;
  font-weight: 700;
  font-size: 2rem;
}

#price-barred {
  text-align: right;
  margin-top: -10px;
}

#btn-show, #btn-cart, #btn-remove, #btn-download-front {
  font-size: 120%;
  padding: 2px 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  width: 8vw;
  font-size: 100%;
  height: 36px;
  &:hover {
    background-color: $light-grey;
    border: solid 2px $light-grey;
  }
}

#btn-show {
  color: $font-grey;
  border: solid 2px white;
  background-color: white;
}

#btn-cart {
 background-color: $light-blue;
 color: white;
 border: solid 2px $darker-blue;
}

#btn-download-front {
  color: white;
  background-color: $light-green;
  border: solid 2px $light-green;
  padding: 2px 10px;
  height: 36px !important;
  text-align: center;
  align-items: center;
}

#btn-remove {
  border: solid 2px $light-grey;
  color: $font-grey;
}

#btn-show:hover, #btn-remove:hover {
    color: white;
}

#item-in-cart {
  color: $dark-green;
  margin-top: 7.5%;
}

$breakpoint-extra-small: 430px;
$breakpoint-mobile: 575.98px;
$breakpoint-tablet: 767.98px;
$breakpoint-laptop: 991.98px;
$breakpoint-large: 1199.98px;
$breakpoint-super-large: 1399.98px;
$breakpoint-extra-large: 1599.98px;

@media (min-width: $breakpoint-extra-large) {
  #card-title {
    font-weight: 700;
    font-size: 140%;
  }
}

@media (max-width: $breakpoint-extra-large) {
  #card-title {
    font-weight: 700;
    font-size: 1.4vw;
  }

  #btn-show, #btn-cart, #btn-download-front, #btn-remove {
    width: 7vw;
    font-size: 100%;
    height: 36px;
  }
}

@media (max-width: $breakpoint-super-large) {
  #card-title {
    font-weight: 700;
    font-size: 1.4vw;
  }

  #btn-cart, #btn-download-front {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: $breakpoint-large) {
  #card-title {
    font-weight: 700;
    font-size: 2vw;
  }
}

@media (max-width: $breakpoint-laptop) {
  #card-title {
    font-weight: 700;
    font-size: 3vw;
  }

  #btn-show, #btn-cart, #btn-remove, #btn-download-front {
    width: 130px;
    font-weight: 700;
    font-size: 140%;
  }

  #btn-cart, #btn-download-front {
    height: initial;
  }
}

@media (max-width: $breakpoint-tablet) {
  .info-box {
    height: initial;
  }
  #card-title {
    font-weight: 700;
    font-size: 180%;
  }

  #btn-show, #btn-cart, #btn-remove, #btn-download-front {
    width: 150px;
    height: 60px;
    font-weight: 700;
    font-size: 140%;
  }
}

@media (max-width: $breakpoint-mobile) {
  #card-title {
    font-weight: 700;
    font-size: 6vw;
  }
}

@media (max-width: $breakpoint-extra-small) {
  #btn-show, #btn-cart, #btn-remove, #btn-download-front {
    width: 30vw;
    height: 15vw;
    font-weight: 700;
    font-size: 5vw;
  }

  #item-in-cart {
    font-size: 15px;
  }
}

// tooltip on title
@media (min-width: 820px) {
  .truncate-title {
    width: inherit;
  }
  .tooltip-title:hover .tooltiptext-title {
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  .truncate-title {
    width: 180px;
  }
  .tooltip-title:hover .tooltiptext-title {
    visibility: visible;
  }
}

@media (min-width: 1140px) {
  .truncate-title {
    width: 210px;
  }
}

@media (min-width: 1200px) {
  .truncate-title {
    width: 14vw;
  }
}

@media (min-width: 1499px) {
  .truncate-title {
    width: inherit;
  }
}