.pack_specifics {
  margin-bottom: 50px;
}

.pack_pic {
  width: 100%;
  transition: 0.5s;
}

#wrapper {
  position: relative;
}

#wrapper:hover .pack_pic, #wrapper:hover .pack_pic_cart, #wrapper:hover #image-pack {
    background-color: $whitesmoke;
    opacity: 0.5;
    transition: 0.5s;
}

#wrapper:hover .pop-up {
  visibility: visible;
}

#wrapper:hover .pop-up-cart {
  visibility: visible;
}

.pop-up {
  position: absolute;
  color: $font-grey;
  background-color: white;
  border: solid 2px $light-grey;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 10px;
  visibility: hidden;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
}

.pop-up-cart {
  position: absolute;
  color: $font-grey;
  background-color: white;
  border: solid 2px $light-grey;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 5px;
  visibility: hidden;
  border-radius: 4px;
  font-weight: 400;
  font-size: 10px;
}

.info-box {
  padding: 5px 15px 10px 15px;
  color: $font-grey !important;
  background-color: $whitesmoke;
  border-radius: 3px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}


// See bottom of the page for breakpoints
// .info-box, h3 {
//   font-weight: 700;
//   font-size: 140%;
// }

.info-box, p {
  font-weight: 400;
  font-size: 100%;
}

.info-box:hover {
  color: $font-grey !important;
}

#circle {
  border: solid $light-grey 12px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 7px;
}

#price {
  padding-right: 12px;
  text-align: right;
  font-weight: 700;
}

#price-sale {
  color: $orange-main;
  text-align: right;
  font-weight: 700;
  font-size: 3rem;
}

#price-barred {
  padding: 15px 17px 0px 0px;
}

.sfx-card-buttons {
  padding: 0 12px;
}

#btn-show, #btn-cart, #btn-remove, #btn-download-front {
  width: 120px;
  font-size: 120%;
  padding: 2px 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

#btn-show {
  color: $font-grey;
  border: solid 2px $light-grey;
  background-color: white;
}

#btn-cart {
 background-color: $light-blue;
 color: white;
 border: solid 2px $darker-blue;
}

#btn-download-front {
  color: $font-grey;
  background-color: $light-green;
  border: solid 2px $light-grey;
}

#btn-remove {
  // background-color: $orange-light;
  // border: solid 2px $orange-main;
  border: solid 2px $light-grey;
  color: $font-grey;
}

#btn-show:hover, #btn-cart:hover, #btn-remove:hover, #btn-download-front:hover {
    background-color: $light-grey;
    border: solid 2px $light-grey;
}

#btn-show:hover, #btn-remove:hover {
    color: white;
}

#item-in-cart {
  color: $dark-green;
  // color: $orange-main;
  margin-top: 7.5%;
}

$breakpoint-extra-small: 430px;
$breakpoint-mobile: 575.98px;
$breakpoint-tablet: 767.98px;
$breakpoint-laptop: 991.98px;
$breakpoint-large: 1199.98px;
$breakpoint-super-large: 1399.98px;
$breakpoint-extra-large: 1599.98px;

@media (min-width: $breakpoint-extra-large) {
  #card-title {
    font-weight: 700;
    font-size: 140%;
  }
}

@media (max-width: $breakpoint-extra-large) {
  #card-title {
    font-weight: 700;
    font-size: 1.5vw;
  }

  #btn-show, #btn-cart, #btn-download-front {
    width: 110px;
  }

  #btn-cart, #btn-download-front {
    font-size: 100%;
    height: 36px;
  }
}

@media (max-width: $breakpoint-super-large) {
  #card-title {
    font-weight: 700;
    font-size: 1.4vw;
  }

  #btn-show, #btn-cart, #btn-remove, #btn-download-front {
    width: 95px;
  }

  #btn-cart, #btn-download-front {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: $breakpoint-large) {
  #card-title {
    font-weight: 700;
    font-size: 2vw;
  }
}

@media (max-width: $breakpoint-laptop) {
  #card-title {
    font-weight: 700;
    font-size: 3vw;
  }

  #btn-show, #btn-cart, #btn-remove, #btn-download-front {
    width: 130px;
    font-weight: 700;
    font-size: 140%;
  }

  #btn-cart, #btn-download-front {
    height: initial;
  }
}

@media (max-width: $breakpoint-tablet) {
  #card-title {
    font-weight: 700;
    font-size: 180%;
  }

  #btn-show, #btn-cart, #btn-remove, #btn-download-front {
    width: 150px;
    height: 60px;
    font-weight: 700;
    font-size: 140%;
  }
}

@media (max-width: $breakpoint-mobile) {
  #card-title {
    font-weight: 700;
    font-size: 6vw;
  }
}

@media (max-width: $breakpoint-extra-small) {
  #btn-show, #btn-cart, #btn-remove, #btn-download-front {
    width: 30vw;
    height: 15vw;
    font-weight: 700;
    font-size: 5vw;
  }

  #item-in-cart {
    font-size: 15px;
  }
}
