.desktop-reviews-display {
  display: block;
}

.mobile-reviews-display {
  display: none;
}

#reviews {
  max-height: 350px;
  overflow-y: scroll;
  padding-bottom: 12px;
  hr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}

.reviews__main {
  margin-top: 8px;
}

.review__wrapper {
  padding-bottom: 12px;
}

.review__header {
  height: 38px;
}

@media (max-width: 768px) {
  .desktop-reviews-display {
    display: none;
  }

  .mobile-reviews-display {
    display: block;
  }

  .review__wrapper {
    padding: 0;
  }
}