#price-barred-show {
  text-align: right;
  padding-right: 12px;
  margin-top: -10px;
}

#sale {
  position: absolute;
  top: 0;
  right: 0;
  height: 6rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#sale-percentage {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  top: 1.4rem;
  right: 1.2rem;
  line-height: 80%;
}

#sale-show {
  position: absolute;
  top: 0;
  left: 0;
  height: 130px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#sale-percentage-show {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 43px;
  top: 1.5vw;
  left: 1.5vw;
  line-height: 80%;
}

$breakpoint-super-duper-small: 375px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-large: 1200px;
$breakpoint-super-large: 1400px;
$breakpoint-hyper-large: 1600px;

@media (max-width: $breakpoint-hyper-large) {
  #sale-percentage-show {
    top: 2vw;
    left: 2vw;
  }
}

@media (min-width: $breakpoint-large) and (max-width: $breakpoint-super-large) {
  #sale {
    height: 80px;
  }

  #sale-percentage {
    font-size: 23px;
  }
}

@media (max-width: $breakpoint-large) {
  #sale {
    height: 100px;
  }

  #sale-percentage {
    font-size: 31px;
  }

  #sale-percentage-show {
    top: 3vw;
    left: 2.5vw;
  }
}

@media (max-width: $breakpoint-laptop) {
  #sale {
    height: 110px;
  }

  #sale-percentage {
    font-size: 35px;
  }

  #sale-show {
  top: 25px;
  right: 72px;
  height: 90px;
  }

  #sale-percentage-show {
    font-size: 30px;
    top: 49px;
    right: 87px;
  }
}

@media (max-width: $breakpoint-tablet) {
  #sale-show {
    top: 15px;
    left: 72vw;
    height: 20vw;
  }

  #sale-percentage-show {
    width: 100%;
    font-size: 6vw;
    top: 8vw;
    left: 77vw;
  }
}
