.be-patient-modal {
  font-family: $the-quest-font;
  position: absolute;
  top: 25%;
  width: 50vw;
  margin: 0 25vw;
  background-color: white;
  padding: 40px;
  font-size: 24px;
  text-align: center;
  border-radius: 8px;
}

#close-the-quest-modal {
  position: absolute;
  top: 12px;
  right: 18px;
  cursor: pointer;
}