<div class="padding-navbar content admin-min-height bg-dark pb-4">
  <div style="height: 60px">
  </div>
  <div class="container">
    <div class="agreement-body">
      <%= @agreement.body.to_s.html_safe %>
    </div>
  </div>
</div>