<div class="designer-dashboard__container mt-3" data-controller="update-info">
  <div class="designer-dashboard__user-profile">
    <div class="d-flex justify-content-between">
      <div class="d-flex me-3">
        <div>
          <p class="designer-dashboard__label me-3 payout-info">Legal Information</p>
        </div>
        <% if @legal_entity.accepted? %>
          <div class="designer-dashboard__label">
            <i class="fas fa-check-circle approved-icon"></i>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-end mb-2">
        <% if @legal_entity.pending? %>
          <div class="btn btn-admin designer-dashboard__paypal-pending">Pending Verification</div>
        <% elsif @legal_entity.accepted? %>
          <div class="designer-dashboard__edit-icon" data-action="click->update-info#toggleEdit">
            <i class="fas fa-pen"></i>
          </div>
        <% elsif @legal_entity.incomplete? %>
          <div class="btn btn-warning designer-dashboard__paypal-inactive">Incomplete</div>
        <% elsif @legal_entity.rejected? %>
          <div class="btn btn-rejected designer-dashboard__paypal-no-account">Rejected</div>
        <% end %>
      </div>
    </div>
    <hr style="margin-top: 0">

    <div data-update-info-target="data">
      <div class="designer-dashboard__settings-grid mb-2">
        <span class="payment-info-desktop">Full legal name:</span>
        <span class="payment-info-mobile">Full name:</span>
        <em><span class="info-color"><%= @legal_entity.legal_name %></span></em>
      </div>

      <% if @legal_entity.company_name? %>        
        <div class="designer-dashboard__settings-grid mb-2">
          <span>Company:</span>
          <em><span class="info-color"><%= @legal_entity.company_name %></span></em>
      </div>
      <% end %>

      <div class="designer-dashboard__settings-grid mb-2">
        <span>Address:</span>
        <em><pre class="info-color"><%= @legal_entity.address %></pre></em>
      </div>
    </div>
  </div>
</div>