<div id="full-description">
  If you are not yet decided whether you are ready to purchase sound effects packs from this website, this wide selection of free sound effects containing 50 hand picked samples from our best librairies should help you make up your mind.  In this collection you will find very high quality sounds suitable for feature films, indie as well as AAA video games, and any professional project that requires high fidelity sound design.

  The selection included here is varied, featuring realistic & fantasy sounds ranging from monsters, guns and an earthquake, to a medieval tavern, to simple rain or a sidewalk crowd.
  <br><br>
  Check out the different Sound Effect Packs where you can find those sounds:
  <ul>
    <li>
      <a href="https://youtu.be/Ms8UtQni614" target="_blank" rel="nofollow noopener">Monster sounds and Atmospheres !</a>
    </li>
    <li>
      <a href="https://youtu.be/DlyeeJSC_rQ" target="_blank" rel="nofollow noopener">Outdoor Atmospheres !</a>
    </li>
    <li>
      <a href="https://youtu.be/-Ecqom6V2A4" target="_blank" rel="nofollow noopener">Underground Atmospheres !</a>
    </li>
    <li>
      <a href="https://youtu.be/1rbXXSi5TS0" target="_blank" rel="nofollow noopener">Guns and Explosions !</a>
    </li>
    <li>
      <a href="https://youtu.be/7XayktsRkzs" target="_blank" rel="nofollow noopener">Natural Disasters !</a>
    </li>
    <li>
      <a href="https://youtu.be/lmqewbA_qk4" target="_blank" rel="nofollow noopener">Ghost and Haunted !</a>
    </li>
    <li>
      <a href="https://youtu.be/98IPZhFRyBo" target="_blank" rel="nofollow noopener">Weather Effects !</a>
    </li>
  </ul>

    Number of Audio Waves: 51<br>
    Size: 308 MB<br>
    Sample rate / bit rate: 48 kHz, 24bit, Stereo WAVs<br>
    Contact me if you have any questions or requests: <a href="mailto=olivier@bamsfx.com">support@bamsfx.com</a>
  </p>
</div>
