<div id="full-description">
  This large pack of Outdoor sounds includes a wide variety of loops to illustrate your different outdoor atmospheres. Over 30 different soundscapes, including mountain, desert, various forests, swamp, snowy lands, but also fantasy atmospheres like dragon lands, ice lands, ever growing meadows and more. You will also find night and day versions for several environments, and separate layers from these atmospheres to re-create your own environments to your liking. A selection of animal sounds and outdoor elements are also included to help you add more life to your sound atmospheres.
  <br><br>
  Check out these videos featuring some of these Outdoor Atmospheres and how I created them:
  <ul>
    <li>
      <a href="https://youtu.be/7RHHUFqRR-U" target="_blank" rel="nofollow noopener">How I created my Forest Atmosphere</a>
    </li>
    <li>
      <a href="https://youtu.be/F4KIXbA76IQ" target="_blank" rel="nofollow noopener">My Forest in a Storm Sound Design</a>
    </li>
    <li>
      <a href="https://youtu.be/n7b1NxM9qno" target="_blank" rel="nofollow noopener">My Dragon Land Sound Atmosphere</a>
    </li>
    <li>
      <a href="https://youtu.be/N5pQwfvIBvs" target="_blank" rel="nofollow noopener">My Frozen Forest Sound Atmosphere</a>
    </li>
    <li>
      <a href="https://youtu.be/vHpi882G8do" target="_blank" rel="nofollow noopener">My Haunted Forest Sound Atmosphere</a>
    </li>
  </ul>
  <p>
    Features:
    <ul>
      <li> More than 30 realistic &amp; Fantasy outdoor soundscapes</li>
      <li> By day or by night</li>
      <li> Includes separate layers to recreate your own atmospheres</li>
      <li>Various sound elements (animals, thunder strikes, gusts of wind, branch sounds...) that you can place in your environment where and when you want</li>
      <li>Forests, desert, mountain, swamp, ice lands, volcano lands, plains and so on.</li>
    </ul>
  <p>
  <p>
    Find the full list of sounds <a class="descrition-list-link" onclick="openTab(event, 'list')" style="cursor: pointer;">HERE!</a>
  </p>
    Number of Audio Waves: 96<br>
    Size: 5,84 GB<br>
    Sample rate / bit rate: 48 kHz, 24bit, Stereo WAVs<br>
    Contact me if you have any questions or requests: <a href="mailto=olivier@ogsoundfx.com">olivier@ogsoundfx.com</a>
  </p>
</div>
