<div id="full-description">
  This HUGE monster pack includes all sorts of monster sounds from a wide selection of different creatures.  Dragons, Giants, Lizard Monsters, Orcs, Skeletons, Werewolves, Goblins, Gnolls, Fire Monsters, Ghouls and so on.
  You will hear those creatures growl, scream, talk, fight, bite, attack, spit fire, fly, walk, kill, die and more.

  Note that all the sounds in this library are made from scratch and have all been created by myself. For this album, I did a lot of voice recordings, and studio recordings for the impact and bite sounds. The better part of the work was to assemble the recordings and applying various effects on the voices, to make these creatures come alive! The final sound effects are the result of a lot of tweaking, thorough mixing and creative sounds design work.
  <br><br>
  Check out these videos featuring some of the Monster sounds and Atmospheres you will find in the Pack:
  <ul>
    <li>
      <a href="https://youtu.be/Ms8UtQni614" target="_blank" rel="nofollow noopener">How I create My Monster Sounds !</a>
    </li>
    <li>
      <a href="https://youtu.be/DlyeeJSC_rQ" target="_blank" rel="nofollow noopener">Orcs Feast !</a>
    </li>
    <li>
      <a href="https://youtu.be/-Ecqom6V2A4" target="_blank" rel="nofollow noopener">Fire Monster !</a>
    </li>
    <li>
      <a href="https://youtu.be/1rbXXSi5TS0" target="_blank" rel="nofollow noopener">Giant Torturing !</a>
    </li>
    <li>
      <a href="https://youtu.be/7XayktsRkzs" target="_blank" rel="nofollow noopener">Orc Speech !</a>
    </li>
    <li>
      <a href="https://youtu.be/lmqewbA_qk4" target="_blank" rel="nofollow noopener">Skeleton Monster !</a>
    </li>
    <li>
      <a href="https://youtu.be/98IPZhFRyBo" target="_blank" rel="nofollow noopener">Giant Monster Walking and Growling !</a>
    </li>
  </ul>
  <p>
    Features: <strong>Monster growls, screams, speech, hits, bites, attacks, fire spitting, moving, flying, walking</strong>.
  <br>
    Monsters include: <strong>Dragons, Giants, Lizard Monsters, Orcs, Skeletons, Werewolves, Goblins, Gnolls, Fire Monsters, Ghouls and more</strong>.
  <br>
    In this Sound Effect Pack you will also find full scenes, like the “Orc Gathering” or the “Giants marching to battle”, and also background loops that will fit different monsters, to include in your monster scenes. Find the full list of sounds <a class="tablinks" onclick="openTab(event, 'list')">HERE!</a>
  </p>
  <p>
    Number of Audio Waves: 1 108<br>
    Size: 1,76 GB<br>
    Sample rate / bit rate: 48 kHz, 24bit, Stereo WAVs<br>
    Contact me if you have any questions or requests: <a href="mailto=olivier@ogsoundfx.com">olivier@ogsoundfx.com</a>
  </p>
</div>
