<div id="full-description">
  Guns & Explosions is a selections of fire arms, large artillery weapons, impact sounds, explosions of all kinds and yet more forms of sonic destruction. With this album you will have a wide range of weapon and explosion sounds for your films or AAA or indie video games!

  Note that all the sounds in this library are made from scratch and have been created artificially. The gun sounds are not actual guns that were recorded. Although I made a lot of field and studio recordings for this album, and I used actual gun sounds in the mix, the final sound effects are the result of a time-consuming, intense mix of different sound elements, sound design and tweaking work.
  The reason I chose this approach for this album and in my work in general is that the sounds usually used in films, documentaries and video games are often strongly exaggerated compared to those same sounds in real life - we all remember the "punch in the face" sounds from the Indiana Jones movies!
  <br><br>
  Check out these links featuring some of the Guns & Explosions you will find in the Pack:
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=R2tmBw2ZYoA" target="_blank" rel="nofollow noopener">Guns and Explosions !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=PBWGoFa_Jc4" target="_blank" rel="nofollow noopener">More Guns and Explosions !</a>
    </li>
    <li>
      <a href="https://youtu.be/aVVm1s9h1sY" target="_blank" rel="nofollow noopener">Explosions short demo !</a>
    </li>
  </ul>
  <p>
    Features: <strong>Guns, machine guns, heavy artillery, canons, explosions, impact sounds, bullet impacts and whipping sounds, laser guns, and more.</strong>.
  <br>
    Find the full list of sounds <a class="descrition-list-link" onclick="openTab(event, 'list')" style="cursor: pointer;">HERE!</a>
  <p>
    Number of Audio Waves: 418<br>
    Size: 500 MB<br>
    Sample rate / bit rate: 48 kHz, 24bit, Stereo WAVs<br>
    Contact me if you have any questions or requests: <a href="mailto=olivier@ogsoundfx.com">olivier@ogsoundfx.com</a>
  </p>
</div>
