<div id="full-description">
  This album is a collection of Ghost sounds and Haunted Places.
  You will find all sorts of Ghost manifestations. Screams from beyond, scary moaning and whispering, horrifying laughs, grunting lost souls or cries from the rising dead ! This pack also includes a variety of spooky atmospheres, such as creepy cemeteries, scary background loops, haunted caves and more!
  This album contains everything you need to illustrate your Haunted films and video games !

  All my sound effects are made using my own personal outdoors and indoors recordings, and my own artificially created sounds.
  For this album, I created artificially scary and Ghostly sounds and atmospheres using synthesizers, voice recordings, and plenty of creepy effects.
  I often use several layers of recordings to make my tracks sound deeper, more intense and more realistic.
  The reason I choose this approach is to create "larger than life sounds" which is often required in films, documentaries and video games to give a much stronger impact to a scene.
  <br><br>
  Check out these videos featuring some of the Ghosts and Atmospheres you will find in the Pack:
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=O0AsT08kNWo" target="_blank" rel="nofollow noopener">Ghost And Haunted Places !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=Qe-5BCMyBMs" target="_blank" rel="nofollow noopener">Ghost Manifestation !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=INR1EUz4OuM" target="_blank" rel="nofollow noopener">How to create a scary Atmosphere.</a>
    </li>
  </ul>
  <p>
    Features: <strong>Ghosts, Supernatural manifestations, Dark Atmospheres, Creepy Sounds and More !</strong>.
  <br>
    Find the full list of sounds <a class="descrition-list-link" onclick="openTab(event, 'list')" style="cursor: pointer;">HERE!</a>
  </p>
  <p>
    Number of Audio Waves: 32<br>
    Size: 838 MB<br>
    Sample rate / bit rate: 48 kHz, 24bit, Stereo WAVs<br>
    Contact me if you have any questions or requests: <a href="mailto=olivier@ogsoundfx.com">olivier@ogsoundfx.com</a>
  </p>
</div>
