<div id="full-description">
  A wide range of underground atmospheres that includes tunnels, sewers, subway galleries, natural caves and caverns, dungeons of all sizes and depths. You will most certainly get lost in the dark corridors of these extremely immersive and realistic soundscapes!

  <strong>Wet subterranean places</strong> where you can hear water dripping, and occasionally freaky eerie metallic sounds from the old rusty structures hiding in the darkness. There is a slight wind blowing through the corridors. The atmosphere is thick scary.  One can't help wonder but where it came from all the way down here.

  <strong>In the ice cavern</strong> where it is very cold, you can hear the wind howling, a little stream of melted ice in the background, and the clinking of icicles echoing off the frozen walls.

  <strong>Natural caves</strong>, dark and cold, where every sound echoes endlessly through the narrow corridors. You can feel the presence of a creature nestled somewhere in a cavity.

  <strong>Secret artificial tunnels</strong>, probably an old military complexe from the cold war. The place has obviously been abandoned for a very long time. But what will you find in this unstable ruin?

  These are just a few examples of the atmospheres that are included in this pack. You'll also find the atmospheres of <strong>abandoned castles, dungeons, old monasteries</strong> and <strong>more</strong>.

  All the sounds in this library are created from scratch with a mixture of on-site recording as well as artificial sounds.
  <br><br>
  Check out these videos featuring some of the atmospheres included in this pack:
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=qjJaLEYhGNo" target="_blank" rel="nofollow noopener">The Sewers !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=MCaHuXHC7d4" target="_blank" rel="nofollow noopener">The Ice Cavern !</a>
    </li>
    <li>
      <a href="https://youtu.be/3ObxprJuUpU" target="_blank" rel="nofollow noopener">A Natural Cavern !</a>
    </li>
  </ul>
  <p>
    Features: <strong>Dungeons, natural caves, ice caverns, tunnels, sewers, castles and a variety of underground places.</strong>.
  <br>
    Find the full list of sounds <a class="descrition-list-link" onclick="openTab(event, 'list')" style="cursor: pointer;">HERE!</a>
  </p>
  <p>
    Number of Audio Waves: 33<br>
    Size: 1,4 GB<br>
    Sample rate / bit rate: 48 kHz, 24bit, Stereo WAVs<br>
    Contact me if you have any questions or requests: <a href="mailto=olivier@ogsoundfx.com">olivier@ogsoundfx.com</a>
  </p>
</div>
