<div id="full-description">
  This is a collection of weather effects, perfect for the backgrounds of your projects, which includes all sorts  of winds, storms, rains, tornado and hurricanes of all intensities.
  <br>  - A heavy thunderstorm with frequent lightning strikes all around, and you are in the middle of it.  Go stand under a tree, quickly!
  <br>  - Strong hail striking a tin roof, where you can clearly hear the sounds of the small ice balls hitting the metallic roof and the ground all around.
  <br>  - A series of lightning strikes with different intensities.
  <br>  - A series of winds with different intensities.
  <br>  - A series of rains with different intensities.
  <br>  - A desert wind scenario.
  <br>  - ...and several more, including samples from the other Sound Packs available on the website.
  <br><br>
  Check out these videos featuring some of the Weather Effects you will find in the Pack:
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=MhZK2qTwe2s" target="_blank" rel="nofollow noopener">Weather Effects !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=7zX2tq24gGs" target="_blank" rel="nofollow noopener">Desert Wind !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=Kt1zJSuOKEs" target="_blank" rel="nofollow noopener">Rains !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=x7DrZIsSqs4" target="_blank" rel="nofollow noopener">Forest in the Storm !</a>
    </li>
  </ul>
  <p>
    Features: <strong>Thunder Strikes, Rain, Hail, Winds, Light Storms, Heavy Storms, Hurricanes and more!</strong>.
  <br>
    Find the full list of sounds <a class="descrition-list-link" onclick="openTab(event, 'list')" style="cursor: pointer;">HERE!</a>
  </p>
  <p>
    Number of Audio Waves: 33<br>
    Size: 680 MB<br>
    Sample rate / bit rate: 48 kHz, 24bit, Stereo WAVs<br>
    Contact me if you have any questions or requests: <a href="mailto=olivier@ogsoundfx.com">support@bamsfx.com</a>
  </p>
</div>
