<div id="full-description">
  This collection includes extremely realistic and immersive natural disaster sound effects and atmospheres.
  Earthquakes from small shivers to huge 10.0 quake on the Richter scale. Or rock slides, from a couple of small stones tumbling down a slope, or large boulders rolling down, to a full on massive landscape rumbling down a hill. Massive snow avalanches, destructive building fires, Tsunamis, volcanoes and so on.
  <br><br>
  Check out these videos featuring some of the Natural Disasters you will find in the Pack:
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=BI2wS7QDYNc" target="_blank" rel="nofollow noopener">Volcano Eruption !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=34jIneNFtFo" target="_blank" rel="nofollow noopener">Earthquake !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=HG27qxTh3wE" target="_blank" rel="nofollow noopener">Meteor Shower !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=fWsvvpwdJ_Q" target="_blank" rel="nofollow noopener">Tsunami !</a>
    </li>
    <li>
      <a href="https://youtu.be/BI2wS7QDYNc?list=PLqEm_BX3-rxJNXx-jawQLAAF0ZaUos9ls" target="_blank" rel="nofollow noopener">Volcano Sound Design !</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=rNOVV6Lkh-s" target="_blank" rel="nofollow noopener">How I created my Tsunami Sound Effects !</a>
    </li>
  </ul>
  <p>
    Features: <strong>Earthquakes, Avalanches, Meteor impacts, Volcanoes, Tsunamis, Fires, Land slides, Hurricanes</strong>.
  <br>
    Find the full list of sounds <a class="descrition-list-link" onclick="openTab(event, 'list')" style="cursor: pointer;">HERE!</a>
  </p>
  <p>
    Number of Audio Waves: 53<br>
    Size: 840 MB<br>
    Sample rate / bit rate: 48 kHz, 24bit, Stereo WAVs<br>
    Contact me if you have any questions or requests: <a href="mailto=olivier@ogsoundfx.com">support@bamsfx.com</a>
  </p>
</div>
