.submission-form__container {
padding-top: 80px;
}

.submission-form__box {
  border-radius: 8px;
  background-color: $dark-modal;
  padding: 24px 60px 32px 60px;
  width: 40%;
  margin: auto;
  a {
    transition: color 0.4s;
    &:hover {
      color: white;
      transition: 0.4s;
    }
  }
}

.submission-form__about-applying {
  color: black !important;
  box-sizing: border-box;
  width: 40%;
    a {
    transition: color 0.4s;
    &:hover {
      color: white;
      transition: 0.4s;
    }
  }
}

.submission-form__submit, .submission-form__edit, .submission-form__add-link {
  box-sizing: border-box;
  width: 100%;
}

.submission-form__add-link {
  color: black !important;
}

.submission-form__edit-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.submission-form__link-display {
  border-radius: 4px;
  padding: 0 0 0 12px;
  margin-bottom: 8px;
  color: black;
  a {
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
}

.submission-form__progress-bar-wrapper {
  height: 22px;
  width: 20%;
  margin: 12px auto 20px auto
}

.submission-form__progress-bar-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: $dark-modal-light;
}

.submission-form__progress-bar-dot.active {
  background-color: $new-green;
}

.submission-form__progress-bar-dot.blinking {
  animation: blink_smooth 1s infinite;
}

// keyframe animations
@keyframes blink_smooth {
  0% {
    background-color: $new-green;
    -webkit-box-shadow:0px 0px 15px 0px rgba(73,204,149,0.9);
    -moz-box-shadow: 0px 0px 15px 0px rgba(73,204,149,0.9);
    box-shadow: 0px 0px 15px 0px rgba(73,204,149,0.9);
  }

  50% {
    background-color: $dark-modal-light;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  100% {
    background-color: $new-green;
    -webkit-box-shadow:0px 0px 15px 0px rgba(73,204,149,0.9);
    -moz-box-shadow: 0px 0px 15px 0px rgba(73,204,149,0.9);
    box-shadow: 0px 0px 15px 0px rgba(73,204,149,0.9);
  }
}

.thank-you__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thank-you__box {
  border-radius: 8px;
  background-color: $dark-modal;
  padding: 40px 60px;
  width: 60%;
  margin: auto;
  h2 {
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .submission-form__container {
    h3 {
      font-size: 1.4rem;
    }
  }

  .thank-you__box {
    padding: 20px;
    width: 90%;
    margin: auto;
  }

  .submission-form__box {
    padding: 12px;
    width: 90%;
  }
}